<template>
	<div>
		<div class="pageloader is-active" v-if="isLoading"><span class="title">Pageloader</span></div>
		<ValidationObserver ref="observer" v-slot="{ passes }">
			<form @submit.prevent="passes(onSubmit)" >
				<div class="columns is-multiline">
					<div class="column is-12">
						<div class="tabs is-toggle">
						  <ul>
						    <li v-for="l in levels" v-bind:class="[row.level == l.id ? 'is-active' : '']" >
						      <a @click="row.level = l.id; typeUser = l.name">
						        <span>{{ l.name }}</span>
						      </a>
						    </li>
						  </ul>
						</div>
					</div>
					<div class="column is-6">
						<ValidationProvider rules="required" name="nome" v-slot="{ errors, valid }">
							<b-field label="Nome" :type="{ 'is-danger': errors[0], 'is-success': valid }">
					            <b-input v-model="row.name"></b-input>
					        </b-field>
					        <small class="has-text-primary">{{ errors[0] }}</small>
					    </ValidationProvider>
					</div>
					<div class="column is-6">
						<ValidationProvider rules="required|email" name="email" v-slot="{ errors, valid }">
							<b-field label="Email" :type="{ 'is-danger': errors[0], 'is-success': valid }">
					            <b-input v-model="row.email"></b-input>
					        </b-field>
					        <small class="has-text-primary">{{ errors[0] }}</small>
					    </ValidationProvider>
					</div>
					<div class="column is-6">
						<b-field label="Setor" class="is-fullwidth">
				            <b-select 
				            	placeholder="Selecione o setor" 
				            	v-model="row.sector_id" 
				            	expanded>
				                <option
				                    v-for="(option, key) in sectors"
				                    :value="option.id"
				                    :key="key">
				                    {{ option.name }}
				                </option>
				            </b-select>
				        </b-field>
					</div>
					<div class="column is-6">
						<b-field label="Laboratório" class="is-fullwidth">
				            <b-select 
				            	placeholder="Selecione o setor" 
				            	v-model="row.laboratory_id" 
				            	expanded>
				                <option
				                    v-for="(option, key) in labs"
				                    :value="option.id"
				                    :key="key">
				                    {{ option.name }} - {{ option.department.name }}
				                </option>
				            </b-select>
				        </b-field>
					</div>
					<div class="column is-12">
						<br>
						<b-field label=" ">
							<b-button native-type="submit" type="is-primary">Salvar</b-button>
						</b-field>
					</div>
				</div>
				
			</form>
		</ValidationObserver>
		{{ row }}
	</div>
</template>

<script>
	import { ValidationObserver, ValidationProvider } from "vee-validate";
	import ApiService from '@/services/ApiService';

	export default {
		components: {
			ValidationObserver,
			ValidationProvider
		},
		data: () => ({
			row: {
				id: null,
				name: null,
				email: null,
				sector_id: null,
				laboratory_id: null,
				level: null,
			},
			typeUser: null,
			sectors: [],
			labs: [],
			levels: [],
			isLoading: false,
		}),
		methods: {
			onSubmit() {
				ApiService.post('users', this.row).then((response) => {
					this.$notify({
                        group: 'notifications-default',
                        type: 'bg-success text-white',
                        title: this.$i18n.t('Sucesso'),
                        text: this.$i18n.t('Usuário cadastrado')
                    })
                    this.$router.push('/users');
				}).catch(() => {
                    this.$notify({
                        group: 'notifications-default',
                        type: 'bg-danger text-white',
                        title: this.$i18n.t('Ops!'),
                        text: this.$i18n.t('Falha ao cadastrar usuário')
                    });
                });
			},
			getOptsLevel() {
				this.isLoading = true;
				ApiService.query('levels').then((response) => {
					this.levels = response.data;
					this.row.level = this.levels[0].id
					this.isLoading = false;
				});
			},
			getOptsLabs() {
				this.isLoading = true;
				ApiService.query('laboratories').then((response) => {
					this.labs = response.data;
					this.isLoading = false;
				});
			},
			getOptsSecotrs() {
				this.isLoading = true;
				ApiService.query('sectors').then((response) => {
					this.sectors = response.data;
					this.isLoading = false;
				});
			},
			setRow(data){
				this.row.id = data.id;
				this.row.name = data.name;
				this.row.email = data.email;
				this.row.sector_id = data.sector_id;
				this.row.level = data.levels.id;
				this.row.laboratory_id = data.laboratory_id;
			}
		},
		created() {
			this.getOptsLevel();
			this.getOptsLabs();
			this.getOptsSecotrs();
			if(this.$route.params.id) {
				ApiService.get('users', this.$route.params.id).then((response) => {
					this.setRow(response.data);
				})
			}
		}
	}

</script>