<template>
	<div>
        <div class="pageloader is-active" v-if="isLoading"><span class="title">Pageloader</span></div>
		<b-table :data="users">
			<template slot-scope="props">
				<b-table-column field="id" label="ID" width="40" numeric>
					{{ props.row.id }}
				</b-table-column>
				<b-table-column field="name" label="Nome">
					{{ props.row.name }}
				</b-table-column>
				<b-table-column field="sector" label="Setor">
					<p v-if="props.row.sector">{{ props.row.sector.name }}</p>
				</b-table-column>
				<b-table-column field="department" label="Laboratório">
					<p v-if="props.row.laboratory">{{ props.row.laboratory.name }} 
						<span v-if="props.row.laboratory.department != null">
							- {{ props.row.laboratory.department.name }}
						</span>
					</p>
				</b-table-column>
				<b-table-column field="department" label="Tipo">
					<span class="tag is-black">{{ props.row.levels.name }}</span>
				</b-table-column>
				<b-table-column field="actions" width="24" v-if="user.levels.name == 'Master'">
					<b-button type="is-primary" @click="destroy(props.row.id)"> 
						<b-icon
			                pack="fas"
			                icon="trash"
			                size="is-small">
			            </b-icon> 
			        </b-button>
				</b-table-column>
				<b-table-column field="actions2" width="24">
					<b-button type="is-black" @click="see(props.row.id)"> 
						<b-icon
			                pack="fas"
			                icon="eye"
			                size="is-small">
			            </b-icon> 
			        </b-button>
				</b-table-column>
			</template>
		</b-table>
	</div>
</template>

<script>
	
	import ApiService from '@/services/ApiService';
	import auth from '@/store/auth.module'

	export default {
		data: () => ({
			users: [],
			isLoading: false,
			isFullPage: true,
		}),
		methods: {
			list() {
				this.isLoading = true;
				ApiService.query('users').then((response) => {
					this.users = response.data;
					this.isLoading = false;
				});
			},
			destroy(id) {
				ApiService.delete('users', id).then((response) => {
					this.list()
				});
			},
			see(id) {
				this.$router.push('/users/'+id);
			}
		},
		created() {
			this.list();
		},
		computed: {
			user() {
				return auth.getters.currentUser(auth.state)
			}
		}
	}
</script>