<template>
	<div>
		<div class="pageloader is-active" v-if="isLoading"><span class="title">Pageloader</span></div>
		<Menu :id="row.protocol_id"></Menu>
		<div class="columns">
			<div class="column">
				<b-table :data="protocol.procedure" v-if="protocol.procedure.length > 0">
					<template slot-scope="props">
						<b-table-column field="id" label="ID" width="40">
							{{ props.row.id }}
						</b-table-column>
						<b-table-column field="subprogram" label="Subprograma">
							{{ props.row.subprogram }}
						</b-table-column>
						<b-table-column field="resistence" label="Resistência">
							{{ props.row.resistance }}
						</b-table-column>
						<b-table-column field="methodology" label="Metodologia">
							{{ props.row.methodology }}
						</b-table-column>
						<b-table-column field="description" label="Descrição">
							{{ props.row.description }}
						</b-table-column>
						<b-table-column field="actions" width="192">
							<b-button type="is-primary" @click="getActivities(props.row.id)"> 
								<b-icon
					                pack="fas"
					                icon="hand-point-up"
					                size="is-small">
					            </b-icon> 
					        </b-button>
						</b-table-column>
					</template>
				</b-table>
			</div>
		</div>
		<div class="columns is-multiline" v-if="row.procedure_id != null">
			<div class="column" v-if="protocol.active == 0 && protocol.old == 0">
				<div class="columns">
					<div class="column">
						<h5 class="is-title is-5">Atividades para o procedimento #{{row.procedure_id}}</h5>
					</div>
				</div>
				<ValidationObserver ref="observer" v-slot="{ passes }" >
					<form @submit.prevent="passes(onSubmit)" class="card">
						<div class="card-content">
							<div class="columns is-multiline">
								<div class="column is-5">
			                        <ValidationProvider rules="required" name="initial_day" v-slot="{ errors, valid }">
			                            <b-field label="Dia inicial" :type="{ 'is-danger': errors[0], 'is-success': valid }">
			                                <b-numberinput v-model="row.initial_day"></b-numberinput>
			                            </b-field>
			                            <small class="has-text-primary">{{ errors[0] }}</small>
			                        </ValidationProvider>
			                    </div>
			                    <div class="column is-5">
			                        <ValidationProvider rules="required" name="end_day" v-slot="{ errors, valid }">
			                            <b-field label="Dia final" :type="{ 'is-danger': errors[0], 'is-success': valid }">
			                                <b-numberinput v-model="row.end_day"></b-numberinput>
			                            </b-field>
			                            <small class="has-text-primary">{{ errors[0] }}</small>
			                        </ValidationProvider>
			                    </div>
			                    <div class="column is-6">
			                        <ValidationProvider rules="required" name="activities" v-slot="{ errors, valid }">
			                            <b-field label="Atividade" :type="{ 'is-danger': errors[0], 'is-success': valid }">
			                                <b-input v-model="row.activities"></b-input>
			                            </b-field>
			                            <small class="has-text-primary">{{ errors[0] }}</small>
			                        </ValidationProvider>
			                    </div>
			                    <div class="column is-4">
			                    	<br>
			                    	<b-button native-type="submit" class="is-pulled-right" type="is-primary">Salvar</b-button>
			                    </div>
							</div>
						</div>
					</form>
				</ValidationObserver>
			</div>
			<div class="column is-12">
				<h5 class="is-title is-5">Lista de atividades do procedimento #{{ row.procedure_id }}</h5>
			</div>
			<div class="column is-12">
				<b-table :data="activities" v-if="activities.length > 0">
					<template slot-scope="props">
						<b-table-column field="subprogram" label="Data inicial">
							{{ props.row.initial_day }}
						</b-table-column>
						<b-table-column field="resistence" label="Data final">
							{{ props.row.end_day }}
						</b-table-column>
						<b-table-column field="methodology" label="Activities">
							{{ props.row.activities }}
						</b-table-column>
						<b-table-column field="actions" width="40" v-if="protocol.active == 0 && protocol.old == 0">
							<b-button type="is-black" @click="edit(props.row)"> 
								<b-icon
					                pack="fas"
					                icon="pen"
					                size="is-small">
					            </b-icon> 
					        </b-button>
						</b-table-column>
						<b-table-column field="actions" width="40" v-if="protocol.active == 0 && protocol.old == 0">
							<b-button type="is-primary" @click="destroy(props.row.id)"> 
								<b-icon
					                pack="fas"
					                icon="trash"
					                size="is-small">
					            </b-icon> 
					        </b-button>
						</b-table-column>
					</template>
				</b-table>
			</div>
		</div>
	</div>
</template>
<script>

	import { ValidationObserver, ValidationProvider } from "vee-validate";
	import ApiService from '@/services/ApiService';
	import Menu from './Menu';

	export default {
		components: {
			ValidationObserver,
			ValidationProvider,
			Menu
		},
		data: () => ({
			row: {
				id: null,
				protocol_id: null,
				procedure_id: null,
				initial_day: null,
				end_day: null,
				activities: null,
			},
			isLoading: false,
			protocol: {
				procedure: [],
				activities: [],
			},
			activities: [],
		}),
		methods: {
			onSubmit() {
				this.isLoading = true;
				if(this.row.id != null) {
					ApiService.update('activities', this.row.id, this.row).then((res) => {
						this.getActivities(this.row.procedure_id);
					});
				} else {
					ApiService.post('activities', this.row).then((res) => {
						this.getActivities(this.row.procedure_id);
					});
				}
			},
			getProcedures() {
	        	this.isLoading = true;
	        	ApiService.get('protocols', this.row.protocol_id).then((res) => {
	        		this.protocol = res.data;
	        		this.isLoading = false;
	        	})
	        },
	        getActivities(id) {
	        	this.row.procedure_id = id;
	        	this.row.id = null;
	        	this.isLoading = true;
	        	ApiService.get('procedures', id).then((res) => {
	        		this.activities = res.data.activities;
	        		this.isLoading = false;
	        	})
	        },
	        edit(row) {
	        	this.row.id = row.id,
				this.row.protocol_id = row.protocol_id;
				this.row.initial_day = parseInt(row.initial_day);
				this.row.end_day = parseInt(row.end_day);
				this.row.activities = row.activities;
	        },
	        destroy(id) {
	        	this.isLoading = true;
	        	ApiService.delete('activities', id).then((res) => {
	        		this.getProcedures();
	        	})
	        }
		},
		created() {
			this.row.protocol_id = this.$route.params.id;
			this.getProcedures();
		}
	}
</script>