<template>
	<div>
		<div class="pageloader is-active" v-if="isLoading"><span class="title">Pageloader</span></div>
		<Menu :id="row.protocol_id"></Menu>
		<div class="columns">
			<div class="column">
				<b-table :data="protocol.procedure" v-if="protocol.procedure.length > 0">
					<template slot-scope="props">
						<b-table-column field="id" label="ID" width="40">
							{{ props.row.id }}
						</b-table-column>
						<b-table-column field="subprogram" label="Subprograma">
							{{ props.row.subprogram }}
						</b-table-column>
						<b-table-column field="resistence" label="Resistência">
							{{ props.row.resistance }}
						</b-table-column>
						<b-table-column field="methodology" label="Metodologia">
							{{ props.row.methodology }}
						</b-table-column>
						<b-table-column field="description" label="Descrição">
							{{ props.row.description }}
						</b-table-column>
						<b-table-column field="actions" width="192">
							<b-button type="is-primary" @click="getDescriptive(props.row.id)"> 
								<b-icon
					                pack="fas"
					                icon="hand-point-up"
					                size="is-small">
					            </b-icon> 
					        </b-button>
						</b-table-column>
					</template>
				</b-table>
			</div>
		</div>
		<div class="columns is-multiline" v-if="row.procedure_id != null">
			<div class="column" v-if="protocol.active == 0 && protocol.old == 0">
				<div class="columns">
					<div class="column">
						<h5 class="is-title is-5">Descritivos para o procedimento #{{row.procedure_id}}</h5>
					</div>
				</div>
				<ValidationObserver ref="observer" v-slot="{ passes }">
					<form @submit.prevent="passes(onSubmit)" class="card">
						<div class="card-content">
							<div class="columns is-multiline">
			                    <div class="column is-12">
			                        <ValidationProvider rules="required" name="title" v-slot="{ errors, valid }">
			                            <div class="column is-12">
							                <quill-editor v-model="row.descriptive">
							                </quill-editor>
							            </div>
			                            <small class="has-text-primary">{{ errors[0] }}</small>
			                        </ValidationProvider>
			                    </div>			                
			                    <div class="column is-12">
			                    	<br>
			                    	<b-button native-type="submit" class="is-pulled-right" type="is-primary">Salvar</b-button>
			                    </div>
							</div>
						</div>
					</form>
				</ValidationObserver>
			</div>
			<div class="column" v-else>
				<p v-html="row.descriptive">
					{{ row.descriptive }}
				</p>
			</div>
			<div class="column is-12">
				<h5 class="is-title is-5">Descritivos do procedimento #{{ row.procedure_id }}</h5>
			</div>
		</div>
	</div>
</template>
<script>

	import { ValidationObserver, ValidationProvider } from "vee-validate";
	import ApiService from '@/services/ApiService';
	import 'quill/dist/quill.core.css'
    import 'quill/dist/quill.snow.css'
    import 'quill/dist/quill.bubble.css'
	import Menu from './Menu';
	import { quillEditor } from 'vue-quill-editor'

	export default {
		components: {
			ValidationObserver,
			ValidationProvider,
			Menu,
			quillEditor
		},
		data: () => ({
			row: {
				procedure_id: null,
				protocol_id: null,
				descriptive: null,
			},
			protocol: {
				procedure: []
			},
			procedures:[],
			isLoading: false,
		}),
		methods: {
			onSubmit() {
				this.isLoading = true;
				ApiService.post('descriptive', this.row).then((res) => {
					this.$notify({
	                    group: 'notifications-default',
	                    type: 'bg-success text-white',
	                    title: this.$i18n.t('Sucesso'),
	                    text: this.$i18n.t('Descriptivo cadastrado')
                	})
                	this.row = res.data;
                	this.row.protocol_id = this.$route.params.id;
                	this.isLoading = false;
				});
			},
	        getDescriptive(id) {
	        	this.row.procedure_id = id;
	        	this.isLoading = true;
	        	ApiService.get('descriptive/bypro', id).then((res) => {
	        		this.row = res.data;
	        		this.row.protocol_id = this.$route.params.id;
	        		this.isLoading = false;
	        	}).catch(() => {
	        		this.row.descriptive = null;
	                this.isLoading = false;
	            });
	        },
	        getProcedures() {
	        	this.isLoading = true;
	        	ApiService.get('protocols', this.row.protocol_id).then((res) => {
	        		this.protocol = res.data;
	        		this.isLoading = false;
	        	})
	        },
		},
		created() {
			this.row.protocol_id = this.$route.params.id;
			this.getProcedures();
		}
	}
</script>