<template>
	<div>
        <div class="pageloader is-active" v-if="isLoading"><span class="title">Pageloader</span></div>
        <ValidationObserver ref="observer" v-slot="{ passes }">
            <form @submit.prevent="passes(save)" >
				<div class="columns is-multiline">
                    <div class="column is-5">
                        <ValidationProvider rules="required" name="name" v-slot="{ errors, valid }">
                            <b-field label="Nome" :type="{ 'is-danger': errors[0], 'is-success': valid }">
                                <b-input v-model="row.name"></b-input>
                            </b-field>
                            <small class="has-text-primary">{{ errors[0] }}</small>
                        </ValidationProvider>
                    </div>
                    <div class="column is-3 is-pulled-right">&nbsp;
                        <b-button 
                            class="is-pulled-right" 
                            style="margin-top:30px;" 
                            native-type="submit"
                            type="is-primary">Salvar</b-button>
                    </div>
                </div>
            </form>
        </ValidationObserver>
	</div>
</template>

<script>
import { ValidationObserver, ValidationProvider } from "vee-validate";
import ApiService from '@/services/ApiService';

export default {
    components: {
        ValidationObserver,
        ValidationProvider
    },
    data: () => ({
        row: {
            name: null
        },
        isLoading: false,
    }),
    methods: {
        save() {
            ApiService.post('protocols', this.row).then((response) => {
                this.$notify({
                    group: 'notifications-default',
                    type: 'bg-success text-white',
                    title: this.$i18n.t('Sucesso'),
                    text: this.$i18n.t('Protocolo cadastrado')
                    
                })
                this.$router.push('/protocols');
            }).catch(() => {
                this.$notify({
                    group: 'notifications-default',
                    type: 'bg-danger text-white',
                    title: this.$i18n.t('Ops!'),
                    text: this.$i18n.t('Falha ao cadastrar protocolo')
                });
            });
        },
    }
    
}
</script>