<template>
	<div>
		<div class="pageloader is-active" v-if="isLoading"><span class="title">Pageloader</span></div>
		<div class="columns">
			<div class="column is-6">
				<b-field label="Nome do protocolo">
					<b-input v-model="filter.name"></b-input>
				</b-field>
			</div>
			<div class="column is-3">
				<b-field label="Status">
		            <b-select v-model="filter.active">
		                <option
		                    v-for="(option, key) in status"
		                    :value="option.id"
		                    :key="key">
		                    {{ option.value }}
		                </option>
		            </b-select>
					</b-field>
			</div>
			<div class="column"><br>
				<b-field>
					<b-button @click="getProtocols()"
						type="is-primary">Buscar
					</b-button>
				</b-field>
			</div>
		</div>
		<b-table :data="protocols">
			<template slot-scope="props">
				<b-table-column field="id" label="ID">
					{{ props.row.id }}
				</b-table-column>
				<b-table-column field="name" label="Nome" center>
					{{ props.row.name }}
				</b-table-column>
				<b-table-column field="active" label="Ativo" center>
					<span v-if="props.row.active == 1" class="tag is-success">Sim</span>
					<span v-if="props.row.active == 0" class="tag is-danger">Não</span>
				</b-table-column>
				<b-table-column field="created_at" label="Criado em" center>
					{{ props.row.created_at }}
				</b-table-column>
				<b-table-column field="old" label="Versão antiga" center>
					<span v-if="props.row.old == 1" class="tag is-warning">Sim</span>
					<span v-if="props.row.old == 0" class="tag is-link">Não</span>
				</b-table-column>
				<b-table-column field="actions" width="192" numeric>
					<b-button type="is-primary" 
			        	v-if="props.row.old == 1 || props.row.active == 1"
			        	tag="router-link" :to="'/protocols/'+props.row.id+'/procedure'"> 
						<b-icon
			                pack="fas"
			                icon="eye"
			                size="is-small">
			            </b-icon> 
			        </b-button>
			        <b-button type="is-black" 
			        	v-if="props.row.old == 0 && props.row.active == 0"
			        	tag="router-link" :to="'/protocols/'+props.row.id+'/procedure'"> 
						<b-icon
			                pack="fas"
			                icon="pen"
			                size="is-small">
			            </b-icon> 
			        </b-button>
			        <b-button type="is-link" 
			        	v-if="props.row.active == 1"
			        	@click="clone(props.row.id)"> 
						<b-icon
			                pack="fas"
			                icon="copy"
			                size="is-small">
			            </b-icon> 
			        </b-button>
				</b-table-column>
			</template>
		</b-table>
	</div>
</template>

<script>
	import ApiService from '@/services/ApiService';

	export default {
		data: () => ({
			row: {
				id: null
			},
			form: {
				protocol_id: null,
			},
			filter: {
				name: '',
				active: -1,
			},
			isLoading: false,
			protocols: [],
			status: [
				{id: -1, value: 'Tudo'},
				{id: 1, value: 'Ativo'},
				{id: 0, value: 'Inativo'},
			],
		}),
		methods: {
			getProtocols() {
				this.isLoading = true;
				ApiService.query('protocols?name='+this.filter.name+'&active='+this.filter.active).then((response) => {
					this.protocols = response.data;
					this.isLoading = false;
				})
			},
			clone(id) {
				ApiService.post('protocols/'+id+'/clone').then((response) => {
					this.getProtocols();
				});
			},
		},
		created() {
			this.getProtocols();
		}
	}
</script>