<template>
	<div class="columns">
	    <div class="column hero is-white">
	        <b-tabs>
	        	<b-button tag="router-link" 
					:to="'/protocols/'+this.id+'/procedure'" 
					v-bind:class="[route.indexOf('procedure')>0 ? 'is-primary': '']">
					<b-icon
		                pack="fas"
		                icon="project-diagram"
		                size="is-small">
		            </b-icon> 
		            &nbsp;Procedimento
				</b-button>
				<b-button tag="router-link" 
					:to="'/protocols/'+this.id+'/activities'"
					v-bind:class="[route.indexOf('activities')>0 ? 'is-primary': '']">
					<b-icon
		                pack="fas"
		                icon="list"
		                size="is-small">
		            </b-icon> 
		            &nbsp;Atividades
				</b-button>
	        	<b-button tag="router-link" 
					:to="'/protocols/'+this.id+'/description'" 
					v-bind:class="[route.indexOf('description')>0 ? 'is-primary': '']">
					<b-icon
		                pack="fas"
		                icon="info"
		                size="is-small">
		            </b-icon> 
		            &nbsp;Descritivo
				</b-button>
	        	<b-button tag="router-link" 
					:to="'/protocols/'+this.id+'/view'" 
					v-bind:class="[route.indexOf('view')>0 ? 'is-primary': '']">
					<b-icon
		                pack="fas"
		                icon="file"
		                size="is-small">
		            </b-icon> 
		            &nbsp;Visualização
				</b-button>
	        </b-tabs>
	    </div>
	    <br>
	</div>
</template>

<script>
	export default {
		name: 'MenuProtocol',
		props: ['id'],
		data: () => ({
			route: null
		}),
		created() {
			this.route = this.$route.path;
		}
	}
</script>