<template>
    <div>
        <router-view></router-view>
    </div>
</template>
<script>
    export default {
        name: 'ProtocolModule',
        metaInfo() {
        	return {
        		title: this.$t('app.title')
        	}
        }
    }
</script>
