<template>
	<div>
		<div class="pageloader is-active" v-if="isLoading"><span class="title">Pageloader</span></div>
		<Menu :id="row.protocol_id"></Menu>
        <div class="columns" v-if="protocol.active == 0 && protocol.old == 0">
        	<div class="column">
				<ValidationObserver ref="observer" v-slot="{ passes }">
					<form @submit.prevent="passes(onSubmit)" >
						<div class="columns is-multiline">
							<div class="column is-4" v-if="subprograms.length > 0">
								<ValidationProvider rules="required" name="subprogram" v-slot="{ errors, valid }">
									<b-field label="Subprograma" class="is-fullwidth">
							            <b-select 
							            	placeholder="Selecione o subprograma" 
							            	v-model="row.subprogram" 
							            	expanded>
							                <option
							                    v-for="(option, key) in subprograms"
							                    :value="option"
							                    :key="key">
							                    {{ option.name }}
							                </option>
							            </b-select>
							        </b-field>
							        <small class="has-text-primary">{{ errors[0] }}</small>
							    </ValidationProvider>
							</div>
							<div class="column is-3">
		                        <ValidationProvider rules="required" name="resistance" v-slot="{ errors, valid }">
		                            <b-field label="Patógeno/Praga" :type="{ 'is-danger': errors[0], 'is-success': valid }">
		                                <b-input v-model="row.resistance"></b-input>
		                            </b-field>
		                            <small class="has-text-primary">{{ errors[0] }}</small>
		                        </ValidationProvider>
		                    </div>
		                    <div class="column is-2">
		                        <ValidationProvider rules="required" name="methodology" v-slot="{ errors, valid }">
		                            <b-field label="Metodologia" :type="{ 'is-danger': errors[0], 'is-success': valid }">
		                                <b-input type="number" v-model="row.methodology"></b-input>
		                            </b-field>
		                            <small class="has-text-primary">{{ errors[0] }}</small>
		                        </ValidationProvider>
		                    </div>
		                    <div class="column is-4">
		                        <ValidationProvider rules="required" name="description" v-slot="{ errors, valid }">
		                            <b-field label="Descrição" :type="{ 'is-danger': errors[0], 'is-success': valid }">
		                                <b-input v-model="row.description"></b-input>
		                            </b-field>
		                            <small class="has-text-primary">{{ errors[0] }}</small>
		                        </ValidationProvider>
		                    </div>
		                    <div class="column is-12">
								<br>
								<b-field label=" ">
									<b-button native-type="submit" type="is-primary">Salvar</b-button>
								</b-field>
							</div>
						</div>
					</form>
				</ValidationObserver>
			</div>
		</div>
		<div class="columns">
			<div class="column">
				<b-table :data="protocol.procedure" v-if="protocol.procedure.length > 0">
					<template slot-scope="props">
						<b-table-column field="id" label="ID" width="40">
							{{ props.row.id }}
						</b-table-column>
						<b-table-column field="subprogram" label="Subprograma">
							{{ props.row.subprogram }}
						</b-table-column>
						<b-table-column field="resistence" label="Resistência">
							{{ props.row.resistance }}
						</b-table-column>
						<b-table-column field="methodology" label="Metodologia">
							{{ props.row.methodology }}
						</b-table-column>
						<b-table-column field="description" label="Descrição">
							{{ props.row.description }}
						</b-table-column>
						<b-table-column field="actions" width="40" v-if="protocol.active == 0 && protocol.old == 0">
							<b-button type="is-black" @click="edit(props.row)"> 
								<b-icon
					                pack="fas"
					                icon="pen"
					                size="is-small">
					            </b-icon> 
					        </b-button>
						</b-table-column>
						<b-table-column field="actions" width="40" v-if="protocol.active == 0 && protocol.old == 0">
							<b-button type="is-primary" @click="destroy(props.row.id)"> 
								<b-icon
					                pack="fas"
					                icon="trash"
					                size="is-small">
					            </b-icon> 
					        </b-button>
						</b-table-column>
					</template>
				</b-table>
			</div>
		</div>
	</div>
</template>

<script>
	import { ValidationObserver, ValidationProvider } from "vee-validate";
	import ApiService from '@/services/ApiService';
	import Menu from './Menu';

	export default {
		components: {
			ValidationObserver,
			ValidationProvider,
			Menu
		},
		data: () => ({
			subprograms: [],
			row: {
				id: null,
				protocol_id: null,
				subprogram_id: null,
				subprogram: null,
				resistance: null,
				methodology: null,
				description: null,
			},
			protocol: {
				procedure: []
			},
			isLoading: false,
		}),
		methods: {
			getSubprograms() {
	            ApiService.query('view/subprogram').then((res)=> {
	                this.subprograms = res.data;
	            })
	        },
	        onSubmit() {
	        	this.isLoading = true;
	        	if(this.row.id != null) {
					ApiService.update('procedures', this.row.id, this.row).then((res) => {
	        		this.load();
	        	})
	        	} else {
	        		ApiService.post('procedures', this.row).then((res) => {
	        		this.load();
	        	})
	        	}
	        }, 
	        load() {
	        	ApiService.get('protocols', this.row.protocol_id).then((res) => {
	        		this.protocol = res.data;
	        		this.row.id = null;
	        		this.isLoading = false;
	        	})
	        },
	        edit(row) {
	        	this.row.id = row.id,
				this.row.protocol_id = row.protocol_id,
				this.row.subprogram_id = row.subprogram_id,
				this.row.resistance = row.resistance,
				this.row.methodology = row.methodology,
				this.row.description = row.description,
	        	this.row.subprogram = {id: row.subprogram_id, name: row.subprogram}
	        },
	        destroy(id) {
	        	this.isLoading = true;
	        	ApiService.delete('procedures', id).then((res) => {
	        		this.load();
	        	})
	        }
		},
		created() {
			this.row.protocol_id = this.$route.params.id;
			this.load();
			this.getSubprograms();
		}
	}
</script>