<template>
	<div>
		<Menu :id="row.protocol_id"></Menu>
		<b-button 
			v-if="protocol.active == 0 && protocol.old == 0"
			@click="activate()"
			type="is-black"
			class="is-pulled-right">
			Finalizar
		</b-button>
		<div class="columns">
			<div class="column">
				<span v-for="p in protocol.procedure">
					<br><br>
					<center>
						<b>
							SAKATA SEED SUDAMERICA LTDA.<br>
							RESEARCH  DIVISION<br>
							TECHNICAL  SUPPORT DEPARTMENT - TSD<br>
						</b>
						<br>
					</center>
					<p>Time chart and procedures used to screen 
						<b>{{ p.subprogram }}</b> 
						plants for <b>{{ p.resistance }}</b>
						resistance.</p>
						Methodology {{ protocol.methodology }}
					<table>
						<thead>
							<tr>
								<th>Days</th>
								<th>Activities</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="a in p.activities">
								<td>
									{{ a.initial_day }}
									<span v-if="a.end_day != a.initial_day"> - {{ a.end_day }}</span>
								</td>
								<td>
									{{ a.activities }}
								</td>
							</tr>
						</tbody>
					</table>
					<p>{{ p.description }}</p>
					<br>
					<p v-html="p.descriptive.descriptive">
						{{ p.descriptive.descriptive }}
					</p>
				</span>
			</div>
		</div>
	</div>
</template>
<script>

	import { ValidationObserver, ValidationProvider } from "vee-validate";
	import ApiService from '@/services/ApiService';
	import Menu from './Menu';

	export default {
		components: {
			ValidationObserver,
			ValidationProvider,
			Menu
		},
		data: () => ({
			row: {
				id: null,
				protocol_id: null,
				active: null,
				name: null
			},
			protocol: {}
		}),
		methods: {
			load() {
				this.isLoading = true;
	        	ApiService.get('protocols', this.row.protocol_id).then((res) => {
	        		this.protocol = res.data;
	        		this.row.id = this.protocol.id;
	        		this.row.name = this.protocol.name;
	        		this.isLoading = false;
	        	})
			},
			activate() {
				this.row.active = true;
				ApiService.update('protocols', this.row.id, this.row).then((res) => {
	        		this.protocol = res.data;
	        		this.$router.push('/protocols');
	        	})
			}	
		},
		created() {
			this.row.protocol_id = this.$route.params.id;
			this.load();
		}
	}
</script>