<template>
	<div>
		<div>
            <div>
            	<br><br>
            	<img src="@/assets/images/fornecedor-sakata-logo.png" width="150">
            	<button class="button is-success is-pulled-right" icon-left="print" onclick="window.print()">Imprimir</button>
            	<span style="float:right;"> &nbsp; </span>
            	<button class="button is-primary is-pulled-right" tag="router-link" @click="back()">Voltar</button>
            	<br><br>
            </div>
            <div>
            	<p style="text-align: center;">
                	<strong>SAKATA SEED SUDAMERICA LTDA.</strong>
            	</p>
            	<p style="text-align: center;">
                	<strong>RESEARCH  DIVISION</strong>
            	</p>
            	<p style="text-align: center;">
                	<strong>TECHNICAL  SUPPORT DEPARTMENT - TSD</strong>
            	</p>
            </div>
        </div>
        <div>
            <div v-if="row.procedure != null">
				Time Chart and Procedures used to screen <b>{{ row.procedure.subprogram }}</b> plants for <b>{{ row.procedure.resistance }}</b> resistance.
				Methodology {{ row.procedure.methodology }}
				<div class="columns">
					<div class="column">
						<b-table :data="row.procedure.activities">
							<template slot-scope="props">
								<b-table-column field="id" label="Days">
									{{ props.row.initial_day }} 
									<span v-if="props.row.end_day != props.row.initial_day"> - {{ props.row.end_day }} </span>
								</b-table-column>
								<b-table-column class="p-date" field="id" label="Proposed date"> 
									<input type="date" v-model="props.row.proposed_date">
								</b-table-column>
								<b-table-column class="p-date" field="id" label="Accomplished date">
									<input type="date" v-model="props.row.accomplished_date ">
								</b-table-column>
								<b-table-column field="activities" label="Activities">
									{{ props.row.activities }}
								</b-table-column>
							</template>
						</b-table>
					</div>
				</div>
				<div class="columns">
					<div class="column">
						<span v-html="row.procedure.descriptive.descriptive">
							{{row.procedure.descriptive.descriptive}}
						</span>
					</div>
				</div>
				<br><br><br>
			</div>
        </div>
	</div>
</template>

<style type="text/css">
	br {
			display: block;
			margin-top: 2px !important;
			line-height: 7px;
			content: " ";
		}
	@media print {
	 	body {
			font-family: "Times New Roman";	
			font-size: 16px;
		}

		div {
			float: left;
			width: 100%;
		}
		br {
			display: block;
			margin-top: 2px !important;
			line-height: 7px;
			content: " ";
		}

		body * {
			visibility: visible;
		}

		p {
			margin-top: 1px;
		}

		.p-date {
			width: 30px !important;
		}
		button {
			display: none !important;
		}
	}
</style>

<script>
	import ApiService from '@/services/ApiService';
	export default {
		data() {
            return {
                row: {},
                id: null
            }
        },
        methods: {
        	load() {
				ApiService.get('solicitations', this.id).then((response) => {
					this.row = response.data;
				})
			},
            back() {
            	window.location = '/solicitations/'+this.id+'/abstract/'
            }
        },
        created() {
			this.id = this.$route.params.id;
			this.load();
		},
	}
</script>