<template>
	<div>
		<div>
            <div>
            	<br><br>
            	<img src="@/assets/images/fornecedor-sakata-logo.png" width="150">
            	<button class="button is-success is-pulled-right" onclick="window.print()" icon-left="print">Imprimir</button>
            	<span style="float:right;"> &nbsp; </span>
            	<button class="button is-primary is-pulled-right" tag="router-link" @click="back()">Voltar</button>
            	<br><br>
            </div>
            <p style="text-align: center;">
                <strong>TECHNICAL SUPPORT DEPARTMENT</strong>
            </p>
            <p style="text-align: center;">
                <strong>TRIAL REPORT</strong>
            </p>
        </div>
        <div class="column is-12 bd-pt">
            <span v-html="content">
                {{ content }}
            </span>
        </div>
	</div>
</template>

<style type="text/css">
	br {
			display: block;
			margin-top: 2px !important;
			line-height: 7px;
			content: " ";
		}
	@media print {
	 	body {
			font-family: "Times New Roman";	
			font-size: 16px;
		}

		div {
			float: left;
			width: 100%;
		}
		br {
			display: block;
			margin-top: 2px !important;
			line-height: 7px;
			content: " ";
		}

		body * {
			visibility: visible;
		}

		p {
			margin-top: 1px;
		}
		button {
			display: none !important;
		}
	}
</style>

<script>
	import ApiService from '@/services/ApiService';
	export default {
		data() {
            return {
                content: null,
                id: null
            }
        },
        methods: {
        	getReport() {
                ApiService.get('solicitations/'+this.id+'/report').then((response) => {
                    this.content = response.data.report;
                })
            },
            back() {
            	window.location = '/solicitations/'+this.id+'/abstract/'
            }
        },
        created() {
			this.id = this.$route.params.id;
			this.getReport();
		},
	}
</script>