<template>
	<div>
		<div class="columns is-multiline">
			<div class="column is-3">
				<b-field label="Data inicial">
					<datepicker 
						v-model="filter.start_date"
						:config="{ dateFormat: 'd/m/Y', static: true }"></datepicker>
				</b-field>
			</div>
			<div class="column is-3">
				<b-field label="Data final">
					<datepicker 
						v-model="filter.end_date"
						:config="{ dateFormat: 'd/m/Y', static: true }"></datepicker>
				</b-field>
			</div>
			<div class="column is-2">
				<b-field label="Trial">
					<b-input v-model="filter.trial"></b-input>
				</b-field>
			</div>
			<div class="column is-2">
				<b-field label="Ano">
					<b-input v-model="filter.year"></b-input>
				</b-field>
			</div>
			<div class="column is-2">
				<b-field label="AF">
					<b-input v-model="filter.af"></b-input>
				</b-field>
			</div>
			<div class="column is-3" v-if="user.laboratory.department.slug == 'Fito'">
				<b-field label="Protocolo" class="is-fullwidth">
		            <b-select 
		            	placeholder="Selecione o protocolo" 
		            	v-model="filter.protocol_id" 
		            	@change.native="getMethods()"
		            	expanded>
		                <option
		                    v-for="(option, key) in protocols"
		                    :value="option.id"
		                    :key="key">
		                    {{ option.name }}
		                </option>
		            </b-select>
		        </b-field>
			</div>
			<div class="column is-2" v-if="user.laboratory.department.slug == 'Fito'">
				<b-field label="Metodologia" class="is-fullwidth">
		            <b-select 
		            	placeholder="Selecione a metodologia" 
		            	v-model="filter.method_id" 
		            	expanded>
		                <option
		                    v-for="(option, key) in methods"
		                    :value="option.methodology"
		                    :key="key">
		                    {{ option.methodology }}
		                </option>
		            </b-select>
		        </b-field>
			</div>
			<div class="column is-4" v-if="user.laboratory.department.slug == 'Bio'">
				<b-field label="Patógeno" class="is-fullwidth">
		            <b-autocomplete
                        ref="autocomplete"
		                v-model="filter.tool"
		                :data="filteredTools"
                        field="name"
		                icon="search"
		                @select="option => add(option)">
		                <template slot="empty">No results found</template>
		            </b-autocomplete>
		        </b-field>
		        <span class="tag" v-for="(t, i) in filter.tools">
		        	{{ t.name }} &nbsp; <a @click="remove(i)">X</a>
		        </span>
			</div>
			<div class="column is-4" v-if="user.laboratory.department.slug == 'Fito'">
				<b-field label="Marcador" class="is-fullwidth" >
		            <b-autocomplete
                        ref="autocomplete"
		                v-model="filter.tool"
		                :data="filteredTools"
                        field="name"
		                icon="search"
		                @select="option => selected = option">
		                <template slot="empty">No results found</template>
		            </b-autocomplete>
		        </b-field>
			</div>
			<div class="column is-3">
				<b-field label="Projeto" class="is-fullwidth">
		            <b-select 
		            	placeholder="Selecione o projeto" 
		            	v-model="filter.project_id" 
		            	expanded>
		                <option
		                    v-for="(option, key) in projects"
		                    :value="option.id_project"
		                    :key="key">
		                    {{ option.desc_project }}
		                </option>
		            </b-select>
		        </b-field>
			</div>
			<div class="column is-2"><br>
				<b-field>
					<b-button @click="find()"
						type="is-primary">Buscar
					</b-button>
				</b-field>
			</div>
		</div>
		<div class="columns" v-if="report.length > 0">
			<div class="column">
				<p><b>Foram encontrados {{ report.length }} resultados</b></p>
				<b-table :data="report">
					<template slot-scope="props">
						<b-table-column field="id" label="ID" width="40" numeric>
							{{ props.row.id }}
						</b-table-column>
						<b-table-column field="trial" label="Trial" width="60" numeric>
							{{ props.row.trial }}
						</b-table-column>
						<b-table-column field="year" label="Ano" width="60" numeric>
							{{ props.row.year }}
						</b-table-column>
						<b-table-column field="number" label="Nº Plantas" width="80" numeric>
							{{ props.row.number }}
						</b-table-column>
						<b-table-column field="user.name" label="Solicitante" v-if="user.levels.name=='Master'|| user.laboratory_id != null">
							{{ props.row.user.name }}
						</b-table-column>
						<b-table-column field="user.name" label="Departamento" v-if="user.levels.name=='Master'|| user.laboratory_id == null">
							{{ props.row.department.name }}
						</b-table-column>
						<b-table-column field="user.created_at" label="Data">
							{{ props.row.created_at }}
						</b-table-column>
						<b-table-column field="actions" width="192">
					        <b-button type="is-black"
					        tag="router-link"
					        :to="'/solicitations/'+props.row.id+'/view'"
					        > 
								<b-icon
					                pack="fas"
					                icon="eye"
					                size="is-small">
					            </b-icon> 
					        </b-button>
						</b-table-column>
					</template>
				</b-table>
			</div>
		</div>
		<div v-if="!first && report.length == 0">
			<b>Sem resultado para ser exibido</b>
		</div>
	</div>
</template>

<script>
	import ApiService from '@/services/ApiService';
	import auth from '@/store/auth.module';
	import Datepicker from 'vue-bulma-datepicker';

	export default {
		components: {
			Datepicker
		},
		data: () => ({
			isLoading: false,
			filter: {
				start_date: null,
				end_date:null,
				trial: null,
				year: null,
				tool: '',
				tools: [],
				protocol_id: null,
				project_id: null,
				method_id: null,
				af: null,
			},
			first: true,
			label: {
				tool: null
			},
			selected: {
				id: null
			},
			report: [],
			protocols: [],
			methods: [],
			tools: [],
			projects: [],
		}),
		methods: {
			find() {
				ApiService.post('report/solicitations', this.filter).then((response) => {
					this.report = response.data;
					this.first = false;
				});
			},
			getProtocols() {
				ApiService.query('protocols').then((response) => {
					this.protocols = response.data;
				})
			},
			getProjects() {
				ApiService.query('/view/project').then((response) => {
					this.projects = response.data;
				})
			},
			getMethods() {
				ApiService.get('procedures/bypro', this.filter.protocol_id).then((response) => {
					if(response.data.length > 0)
						this.methods = response.data
					else{
						this.getDataProtocol();
					}
				})
			},
			getOptsTools() {
				ApiService.query('tools').then((response) => {
					this.tools = response.data;
				});
			},
			add(option) {
				if(option != null){
					this.filter.tools.push(option);
				}
				this.filter.tool = '';
			},
			remove(option) {
				this.filter.tools.splice(option, 1);
			}
		},
		computed: {
            filteredTools() {
                return this.tools.filter((option) => {
                    return option.name
                        .toString()
                        .toLowerCase()
                        .indexOf(this.filter.tool.toLowerCase()) >= 0
                })
            },
            user() {
				return auth.getters.currentUser(auth.state)
			}
        },
        created() {
			this.getProtocols();
			this.getOptsTools();
			this.getProjects();
		},
	};
</script>