<template>
    <div>
    	<NavBarComponent></NavBarComponent>         
        <SideBarComponent></SideBarComponent>
            <section class="main">
            	<div class="content">
                    <div class="container">
                        <h3 class="title is-3"> 
                            {{ title }}
                            <b-button v-if="path != ''" 
                            type="is-primary is-pulled-right" 
                            icon-left="plus"
                            tag="router-link" :to="path"> 
                                &nbsp;Novo 
                            </b-button>
                        </h3>
                    </div>
	            	<div class="container hero is-white is-shadow">
		            	<router-view />
		            </div>
		        </div>
            </section>
    </div>
</template>
<script>
import SideBarComponent from './SideBar';
import NavBarComponent from './NavBar';
export default {
    components: {
        SideBarComponent,
        NavBarComponent
    },
    data: () => ({
        buttonText: ''
    }),
    computed: {
        title() {
            return this.$t(this.$route.name);
        },
        path() {
            var path = '';
            if(this.$route.path != '/') {
                if(this.$t(this.$route.path.indexOf('new') > -1) || this.$route.params.id){
                    path = '';
                } else {
                    path = this.$t(this.$route.path)+'/new'
                    this.buttonText = '+ Novo'
                }
            }
            return path;
                
        }
    }
}

</script>
