<template>
    <nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
        <div class="navbar-brand is-menu-visible">
            <a class="navbar-item" href="https://bulma.io">
                <img src="../assets/images/fornecedor-sakata-logo.png" width="150">
            </a>
            <a class="navbar-item">
                <vue-fontawesome icon="bars" size="1x"></vue-fontawesome>
            </a>
        </div>
    </nav>
</template>

<script>

    export default {
        name: 'BavBarComponent',
    }
</script>
