<template>
	<div class="sidebar is-menu-visible">
		<div class="user-data">
			<a href="/profile">
				<vue-fontawesome icon="user-circle" size="3x"></vue-fontawesome>
				<p>{{ userData.name }}</p>
			</a>
			<a href="#" @click="logOut()">Sair</a>
		</div>
		<div class="menu-area">
		    <b-menu>
		    	<b-menu-list label="Menu">
		            <b-menu-item
		                label="Dashboard"
		                icon="coffee"
		                tag="router-link"
		                to="/">
		            </b-menu-item>
		            <b-menu-item
		                label="Solicitações"
		                icon="keyboard"
		                tag="router-link"
		                to="/solicitations">
		            </b-menu-item>
		        </b-menu-list>
		        <b-menu-list label="Relatórios">
		        	<b-menu-item
		                label="Solicitações"
		                icon="file"
		                tag="router-link"
		                to="/report/solicitations">
		            </b-menu-item>
		        </b-menu-list>
		        <b-menu-list label="Administração" v-if="userData.profile == 'master'">
		            <b-menu-item
		                label="Usuários"
		                icon="user"
		                tag="router-link"
		                to="/users">
		            </b-menu-item>
		            <b-menu-item
		                label="Laboratórios"
		                icon="flask"
		                tag="router-link"
		                to="/labs">
		            </b-menu-item>
		            <b-menu-item
		            	v-if="1 == 2"
		                label="Departamentos"
		                icon="warehouse"
		                tag="router-link"
		                to="/depts">
		            </b-menu-item>
		            <b-menu-item
		                label="Protocolos"
		                icon="file"
		                tag="router-link"
		                to="/protocols">
		            </b-menu-item>
		            <b-menu-item
		                label="Ferramentas"
		                icon="tools"
		                tag="router-link"
		                to="/tools">
		            </b-menu-item>
		            <b-menu-item
		            	v-if="1 == 2"
		                label="Setores"
		                icon="hotel"
		                tag="router-link"
		                to="/sectors">
		            </b-menu-item>
		        </b-menu-list>

		        
		    </b-menu>
		</div>
	</div>
</template>
<style lang="scss" src="../vendor/styles/pages/sidebar.scss"></style>
<script>

	import AuthService from '../services/AuthService';
	import PermissionService from '@/services/PermissionService';
	import { LOGOUT } from '@/store/actions.type';
	export default {
		name: 'SideBarComponent',
		methods: {
			isMenuActive (url) {
		      	return this.$route.path.indexOf(url) === 0
		    },
		    logOut () {
	            this.$store
	                .dispatch('logout')
	                .then(() => this.$router.push({ name: 'login' }));
	        },
	        hasPermission(permission) {
				return PermissionService.hasPermission(permission);
			}
		},
		computed: {
          userData() {
            return this.$store.state.auth.user;
          }
        }
	}
</script>