//
@import 'variables';

$primary: #de2a2a;

@import '~bulma/bulma.sass';
@import '~bulma-pageloader/src/sass/index.sass';

.navbar-item img {
    max-height: none !important;
}

.is-menu-visible {
	border-right: 1px solid #f3f3f3 !important;
	background: #FFF;
}

.is-transparent {
	background: none !important;
}

body, html {
	background: #f1f4f5 !important;
}

.main > .content {
	padding: 50px;
	position:fixed;
	left: 213px;
	width: calc(100% - 213px);
	height: calc(100% - 56px);
	background: #f1f4f5;
	overflow: auto;
}

.is-shadow {
	-webkit-box-shadow: 2px 3px 14px 2px rgba(0,0,0,0.48);
	-moz-box-shadow: 2px 3px 14px 2px rgba(0,0,0,0.48);
	box-shadow: 2px 3px 14px 2px rgba(0,0,0,0.48);
	padding: 15px;
}

.pageloader {
	z-index: 1000 !important;
}

.autocomplete .dropdown-menu {
	display:block !important;
}

.ql-align-right {
  text-align:right !important;
}

.print, .ql-editor {
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
}

.print p, .ql-editor p {
    margin-top: -15px !important;
  }

.print p br {
  margin-top: 0px !important;
  padding: 0 !important;
}

@media print {
  body * {
    visibility: hidden;
    margin: 0;
  }
  .print, .print * {
    visibility: visible;
  }

  .content {
    padding: 0!important;
    left: 0 !important;
  }

  div {
    width: 100% !important;
  }

  @page {
    margin-bottom: 3cm;
    margin-left: 3cm;
    margin-right: 3cm;
  }

  .print {
    position: absolute;
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    width: 90%;
    left: 0px;
    top: 0px;
    display:block !important;
    page-break-inside: avoid;
  }

  p {
    margin-top: -15px;
  }

  input[type="date"] {
    border: none !important;
  }

  .no-print, .no-print *
  {
    display: none !important;
  }
}

.datepicker .datepicker-table .datepicker-header .datepicker-cell {
    color: #7a7a7a;
    font-weight: 600;
}
.datepicker .datepicker-table .datepicker-cell {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    border-radius: 4px;
    padding: .5rem .75rem;
    width: 41px;
    height: 37px;
}

.upload {
    position: relative;
    display: inline-flex;
}

.control {
    box-sizing: border-box;
    clear: both;
    font-size: 1rem;
    position: relative;
    text-align: left;
}

.upload .upload-draggable {
    cursor: pointer;
    padding: .25em;
    border: 1px dashed #b5b5b5;
    border-radius: 6px;
}

.upload input[type=file] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    outline: none;
    cursor: pointer;
    z-index: -1;
}

.ql-container, .ql-editor {
  min-height: 400px;
}

.pagination-list ul, .content ul {
  list-style: none !important;
}