<template>
	<div>
        <div class="column is-12">
            <h5 class="title is-5 has-text-grey">Solicitação # {{ row.id }}</h5>
            <b-button class="is-pulled-right" 
                tag="router-link" 
                :to="'/solicitations/'+row.id+'/view'" 
                type="is-primary">Voltar
            </b-button>
        </div>
        <div class="column is-12">
            <h6 class="title is-7 has-text-grey">{{ row.created_at }}</h6>
        </div>
        <div class="card has-background-grey-lighter">
			<div class="card-content">
				<div class="columns" v-if="row.department">
					<div class="column"> <b>Setor:</b> {{ row.department.name }}</div>
					<div class="column"> <b>Trial:</b> {{ row.trial }}</div>
					<div class="column"> <b>Ano:</b> {{ row.year }}</div>
					<div class="column"> 
                        <b>Ferramentas:</b> 
                        <span class="tag" v-for="(t, i) in row.tools">
                            {{ t.tool.name }}</a>
                        </span>
                    </div>
				</div>
				<hr>
				<div class="columns" v-if="row.department">
					<div class="column"> <b>Status:</b> {{ row.status.name }}</div>
					<div class="column"> <b>Solicitante:</b> {{ row.user.name }}</div>
					<div class="column"> <b>Quantidade:</b> {{ row.number }}</div>
				</div>
			</div>
		</div>
		<br>
		<div class="columns is-multiline" v-if="row.status.cod == 1 || row.status.cod == 3">
            <div class="column is-12">
                <quill-editor v-model="content">
                </quill-editor>
            </div>
			<div class="column">
				<b-button native-type="submit" type="is-primary" @click="saveReport">Salvar</b-button>
			</div>
		</div>
        <div class="columns is-multiline print" v-if="row.status.cod == 4 || row.status.cod == 2">
            <div class="column is-12 bd-pt">
                <img src="@/assets/images/fornecedor-sakata-logo.png" width="150"><br><br>
                <p style="text-align: center;">
                    <strong>TECHNICAL SUPPORT DEPARTMENT</strong>
                </p>
                <p style="text-align: center;">
                    <strong>TRIAL REPORT</strong>
                </p>
            </div>
            <div class="column is-12 bd-pt">
                <span v-html="content">
                    {{ content }}
                </span>
            </div>
            <div class="column is-12 no-print">
                <b-button tag="router-link"
                    :to="'/print/'+this.row.id"
                    type="is-primary">Imprimir relatório
                </b-button>
                <b-button tag="router-link"
                    :to="'/print2/'+this.row.id"
                    type="is-primary">Imprimir protocolo
                </b-button>
            </div>
        </div>
	</div>
</template>

<script>
    import 'quill/dist/quill.core.css'
    import 'quill/dist/quill.snow.css'
    import 'quill/dist/quill.bubble.css'
    import ApiService from '@/services/ApiService';

    import { quillEditor } from 'vue-quill-editor'

    export default {
        components: {
            quillEditor
        },
        data() {
            return {
                content: null,
                row: {
                    status: {
                        cod: null,
                        name: null
                    }
                },
                isLoading: false,
                report: null,
            }
        },
        methods: {
			load() {
				this.isLoading = true;
				ApiService.get('solicitations', this.row.id).then((response) => {
					this.row = response.data;
                    this.getReport();
				})
			},
            getReport() {
                ApiService.get('solicitations/'+this.row.id+'/report').then((response) => {
                    this.content = response.data.report;
                    this.isLoading = false;
                })
            },
            saveReport() {
                ApiService.post('solicitations/report', {id: this.row.id, content: this.content}).then((response) => {
                    this.load();
                    this.$notify({
                        group: 'notifications-default',
                        type: 'success text-white',
                        title: this.$i18n.t('Sucesso'),
                        text: this.$i18n.t('Relatório salvo com sucesso')
                    })
                })
            }
		},
		created() {
			this.row.id = this.$route.params.id;
			this.load();
		},
    }
</script>