<template>
    <div>
        <div class="pageloader is-active" v-if="isLoading"><span class="title">Pageloader</span></div>
        <div class="columns is-multiline">
            <div class="column is-12">
                <h5 class="title is-5 has-text-grey">Solicitação # {{ row.id }}</h5>
                <b-button class="is-pulled-right" 
                    tag="router-link" 
                    :to="'/solicitations/'+row.id+'/view'" 
                    type="is-primary">Voltar
                </b-button>
            </div>
            <div class="column is-12">
                <h6 class="title is-7 has-text-grey">{{ row.created_at }}</h6>
            </div>
        </div>
        <br>
        <div class="card has-background-grey-lighter">
            <div class="card-content">
                <div class="columns" v-if="row.department">
                    <div class="column"> <b>Setor:</b> {{ row.department.name }}</div>
                    <div class="column"> <b>Trial:</b> {{ row.trial }}</div>
                    <div class="column"> <b>Ano:</b> {{ row.year }}</div>
                    <div class="column"> 
                        <b>Ferramentas:</b> 
                        <span class="tag" v-for="(t, i) in row.tools">
                            {{ t.tool.name }}</a>
                        </span>
                    </div>
                </div>
                <hr>
                <div class="columns" v-if="row.department">
                    <div class="column"> <b>Status:</b> {{ row.status.name }}</div>
                    <div class="column"> <b>Solicitante:</b> {{ row.user.name }}</div>
                    <div class="column"> <b>Quantidade:</b> {{ row.number }}</div>
                </div>
            </div>
        </div>
        <ValidationObserver ref="observer" v-slot="{ passes }" v-if="row.status.cod <= 1">
            <form @submit.prevent="passes(save)" >
				<div class="columns is-multiline">
                    <div class="column is-5">
                        <ValidationProvider rules="required" name="description" v-slot="{ errors, valid }">
                            <b-field label="Descrição" :type="{ 'is-danger': errors[0], 'is-success': valid }">
                                <b-input v-model="att.description"></b-input>
                            </b-field>
                            <small class="has-text-primary">{{ errors[0] }}</small>
                        </ValidationProvider>
                    </div>
                    <div class="column is-3">&nbsp;
                        <div class="file" style="margin-top:8px;">
                            <b-field class="file">
                                <b-upload v-model="att.file">
                                    <a class="button is-black">
                                        <b-icon icon="upload"></b-icon>
                                        <span>Escolha o arquivo</span>
                                    </a>
                                </b-upload>
                                <span class="file-name" v-if="att.file">
                                    {{ att.file.name }}
                                </span>
                            </b-field>
                        </div>
                    </div>
                    <div class="column is-3 is-pulled-right">&nbsp;
                        <b-button 
                            class="is-pulled-right" 
                            style="margin-top:30px;" 
                            native-type="submit"
                            type="is-primary">Salvar</b-button>
                    </div>
                </div>
            </form>
        </ValidationObserver>
        <div class="columns">
            <div class="column">
                <b-table :data="atts">
                    <template slot-scope="props">
                        <b-table-column field="id" label="ID">
					        {{ props.row.id }}
                        </b-table-column>
                        <b-table-column field="description" label="Descrição" center>
                            {{ props.row.description }}
                        </b-table-column>
                        <b-table-column field="created_at" label="Data" center>
                            {{ props.row.created_at }}
                        </b-table-column>
                        <b-table-column field="Uuser" label="Por" center>
                            {{ props.row.user.name }}
                        </b-table-column>
                        <b-table-column field="file" label="Arquivo" center>
                            <b-button tag="router-link" 
                                target="_blank" 
                                icon-left="download"
                                type="is-black"
                                :to="'/api/attachments/download?file='+props.row.file"> 
                                Download
                            </b-button>
                        </b-table-column>
                    </template>
                </b-table>
            </div>
        </div>
    </div>
</template>

<script>
import { ValidationObserver, ValidationProvider } from "vee-validate";
import ApiService from '@/services/ApiService';

export default {
    components: {
        ValidationObserver,
        ValidationProvider
    },
    data: () => ({
        att: {
            description: null,
            file: null
        },
        row: {
            id: null,
            status: {
                cod: null
            }
        },
        isLoading: false,
        atts: [],
    }),
    methods: {
        save() {
            let formData = new FormData();
            formData.append('solicitation_id', this.row.id);
            formData.append('description', this.att.description);
            formData.append('file', this.att.file, this.att.file.name);
            ApiService.upload('attachments', formData).then((response) => {
                this.$notify({
                    group: 'notifications-default',
                    type: 'bg-success text-white',
                    title: this.$i18n.t('Sucesso'),
                    text: this.$i18n.t('Documento anexado')
                    
                })
                this.get();
                //this.$router.push('/solicitations');
            }).catch(() => {
                this.$notify({
                    group: 'notifications-default',
                    type: 'bg-danger text-white',
                    title: this.$i18n.t('Ops!'),
                    text: this.$i18n.t('Falha ao anexar documento')
                });
            });
        },
        load() {
                this.isLoading = true;
                ApiService.get('solicitations', this.row.id).then((response) => {
                    this.row = response.data;
                    this.isLoading = false;
                })
            },
        get() {
            ApiService.query('attachments?solicitation_id='+this.row.id).then((response) => {
                this.atts = response.data;
            })
        },
        download(file) {
            ApiService.query('attachments/download?file='+file).then((response) => {
                //
            })
        }
    },
    created() {
        this.row.id = this.$route.params.id;
        this.load();
        this.get();
    },
    
}
</script>