<template>
	<div>
		<div class="pageloader is-active" v-if="isLoading"><span class="title">Pageloader</span></div>
		<div class="column is-12">
			<h5 class="title is-5 has-text-grey">Solicitação # {{ id }}</h5>
			<b-button class="is-pulled-right" 
                tag="router-link" 
                :to="'/solicitations/'+row.id+'/view'" 
                type="is-primary">Voltar
            </b-button>
		</div>
		<div class="column is-12">
            <h6 class="title is-7 has-text-grey">{{ row.created_at }}</h6>
        </div>

		<div class="card has-background-grey-lighter">
			<div class="card-content">
				<div class="columns" v-if="row.department">
					<div class="column"> <b>Setor:</b> {{ row.department.name }}</div>
					<div class="column"> <b>Trial:</b> {{ row.trial }}</div>
					<div class="column"> <b>Ano:</b> {{ row.year }}</div>
					<div class="column"> 
						<b>Ferramentas:</b> 
						<span class="tag" v-for="(t, i) in row.tools">
				        	{{ t.tool.name }}</a>
				        </span>
				    </div>
				</div>
				<hr>
				<div class="columns" v-if="row.department">
					<div class="column"> <b>Status:</b> {{ row.status.name }}</div>
					<div class="column"> <b>Solicitante:</b> {{ row.user.name }}</div>
					<div class="column"> <b>Quantidade:</b> {{ row.number }}</div>
				</div>
			</div>
		</div>
		<br>
		<div class="columns is-multiline">
            <div class="column" v-for="i in items">
                <div class="tags has-addons">
                    <span class="tag">{{ i.item_id }}</span>
                    <span class="tag" v-bind:class="[i.plants > 0 ? 'is-primary' : 'is-success']">{{ i.plants }}</span>
                </div>
            </div>
        </div><hr>
        <div class="columns">
            <div class="column is-2">
                <div class="field">
                    <label class="label">Placa</label>
                    <div class="control">
                        <div class="select">
                            <select v-model="board.board" @change="getBoard()">
                                <option  :value="c" v-for="c in parseInt(croqui.boards)">{{ c }}</option>
                                <option :value="parseInt(croqui.boards)+1">{{ parseInt(croqui.boards)+1 }}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div><hr>
            <div class="column">
                <div class="field">
                    <label class="label">AF</label>
                    <div class="control">
                        <div class="select">
                            <select v-model="board.af" @change="setMax()">
                                <option v-for="i in items" :value="i.item_id" v-if="i.plants>0">{{ i.item_id }}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="label">Campo</label>
                    <div class="control">
                        <div class="select" v-if="croqui.fields != null">
                            <select v-model="board.field">
                                <option :value="croqui.fields[0]">{{ croqui.fields[0] }}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="label">Quantidade</label>
                    <div class="control">
                        <input class="input" type="number" v-model="board.qtd">
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="label"></label><br>
                    <button class="button is-success" @click="saveBoard()">Salvar</button>
                </div>
            </div>
        </div><hr>
        <div class="columns is-multiline">
        	<div class="column is-12">
        		<table class="table is-bordered" v-if="croqui.board != null">
        			<tr v-for="a in configBoard.lines">
        				<td v-for="c in 12" class="has-text-centered">
        					<p class="has-text-grey-light">
        						<b>{{ a }}{{ c }}</b>
        					</p>
        					<p v-if="croqui.board[a+c] != null">
        						<span class="tag is-primary">
        							{{ croqui.board[a+c].af }}.{{ croqui.board[a+c].index }}
        						</span>
        					</p>
        				</td>
        			</tr>
        		</table>
        	</div>
        	<div class="column is-12">
                <button class="button is-success is-pulled-right"
                	 @click="record()"
                	 v-if="croqui.finalized == 1 && row.croqui == 0">
                	Gravar
                </button>
                <button class="button is-primary is-pulled-right" 
                	@click="reset()"
                	v-if="croqui.finalized == 0 || row.croqui == 0">
                	Resetar
                </button>
            </div>
        </div>
	</div>
</template>

<script>

	import ApiService from '@/services/ApiService';

	export default {
		data: () => ({
			id: null,
			row: {},
			isLoading: false,
			items: [],
			board:{
				board: 1,
				field: null,
				qtd: null,
				af: null
			},
			croqui: {
				boards: 0,
				data: null,
				fields: [],
			},
			configBoard: {
				lines: {
					1 : 'A',
					2 : 'B',
					3 : 'C',
					4 : 'D',
					5 : 'E',
					6 : 'F',
					7 : 'G',
					8 : 'H'
				}
			},
			max: null,
		}),
		computed: {
			newBoards() {
				return this.boards;
			}
		},
		methods: {
			load() {
				this.isLoading = true;
				ApiService.get('solicitations', this.id).then((response) => {
					this.row = response.data;
				})
			},
			getItems() {
				ApiService.get('items/solicitations', this.id).then((res) => {
					this.items = res.data;
					this.setValueCroki();
					this.isLoading = false;
				})
			},
			getBoard() {
				this.isLoading = true;
				ApiService.query('croqui?solicitation_id='+this.id+'&board='+this.board.board).then((res) => {
					this.croqui = res.data;
					this.board.field = res.data.fields[0]
					this.max = 0;
					this.board.af = null
					this.getItems();
				})
			},
			saveBoard() {
				this.board.solicitation_id = this.id;
				if(this.board.af == null){
					this.$notify({
                        group: 'notifications-default',
                        type: 'error text-white',
                        title: this.$i18n.t('Atenção'),
                        text: this.$i18n.t('Selecione o AF')
                    })
                    return false
				}
				if(this.board.qtd > this.croqui.fields.length ||
					parseInt(this.board.qtd) > parseInt(this.max) || this.board.qtd <= 0){
					this.$notify({
                        group: 'notifications-default',
                        type: 'error text-white',
                        title: this.$i18n.t('Atenção'),
                        text: this.$i18n.t('Quantidade inválida')
                    })
                    return false
				}
				this.isLoading = true;
				ApiService.post('croqui', this.board).then((res) => {
					this.getBoard();
				})
			},
			setValueCroki() {
				for( var c = 0; c< this.items.length; c++) {
					for( var i = 0; i < this.croqui.items.length; i++){
						if(this.croqui.items[i].af == this.items[c].item_id) {
							this.items[c].plants -= this.croqui.items[i].total;
						}
					}
				}
	    	},
	    	setMax() {
	    		for( var c = 0; c< this.items.length; c++) {
	    			if(this.items[c].item_id == this.board.af){
	    				this.max = this.items[c].plants;
	    			}
	    		}
	    	},
	    	record() {
	    		ApiService.post('solicitations/record', {solicitation_id: this.id}).then((res) => {
					this.load();
					this.getBoard();
				})
	    	},
	    	reset() {
	    		this.isLoading = true;
	    		ApiService.post('croqui/reset', {solicitation_id: this.id, board: this.board.board}).then((res) => {
					this.getBoard();
				})
	    	}
	    },
	    created() {
			this.id = this.$route.params.id;
			this.load();
			this.getBoard();
		},
	}
</script>