<template>
	<div>
		<div class="pageloader is-active" v-if="isLoading"><span class="title">Pageloader</span></div>
		<ValidationObserver ref="observer" v-slot="{ passes }">
			<form @submit.prevent="passes(onSubmit)" >
				<div class="columns is-multiline">
					<div class="column is-4">
						<ValidationProvider rules="required" name="department" v-slot="{ errors, valid }">
							<b-field label="Setor" class="is-fullwidth">
					            <b-select 
					            	@change.native="getOptsTools()"
					            	placeholder="Selecione o setor" 
					            	v-model="row.department_id" 
					            	expanded>
					                <option
					                    v-for="(option, key) in departments"
					                    :value="option.id"
					                    :key="key">
					                    {{ option.name }}
					                </option>
					            </b-select>
					        </b-field>
					        <small class="has-text-primary">{{ errors[0] }}</small>
					    </ValidationProvider>
					</div>
                    <div class="column is-3">
                        <ValidationProvider rules="required" name="trial" v-slot="{ errors, valid }">
                            <b-field label="Trial" :type="{ 'is-danger': errors[0], 'is-success': valid }">
                                <b-input v-model="row.trial"></b-input>
                            </b-field>
                            <small class="has-text-primary">{{ errors[0] }}</small>
                        </ValidationProvider>
                    </div>
                    <div class="column is-3">
                        <ValidationProvider rules="required" name="year" v-slot="{ errors, valid }">
                            <b-field label="Ano" :type="{ 'is-danger': errors[0], 'is-success': valid }">
                                <b-input @blur="getSectors()" v-model="row.year"></b-input>
                            </b-field>
                            <small class="has-text-primary">{{ errors[0] }}</small>
                        </ValidationProvider>
                    </div>
                    <div class="column is-4">
						<ValidationProvider rules="required" name="sector_id" v-slot="{ errors, valid }">
							<b-field label="Departamento" class="is-fullwidth">
					            <b-select 
					            	placeholder="Selecione o departamento" 
					            	v-model="row.sector_id" 
					            	expanded
					            	@change.native="getSubProgram()">
					                <option
					                    v-for="(option, key) in sectors"
					                    :value="option.id"
					                    :key="key">
					                    {{ option.description }}
					                </option>
					            </b-select>
					        </b-field>
					        <small class="has-text-primary">{{ errors[0] }}</small>
					    </ValidationProvider>
					</div>
                    <div class="column is-4">
						<ValidationProvider rules="required" name="subprogram_id" v-slot="{ errors, valid }">
							<b-field label="Subprograma" class="is-fullwidth">
					            <b-select 
					            	placeholder="Selecione o subprograma" 
					            	v-model="row.subprogram_id" 
					            	expanded
					            	@change.native="getProject()">
					                <option
					                    v-for="(option, key) in subprograms"
					                    :value="option.id"
					                    :key="key">
					                    {{ option.description }}
					                </option>
					            </b-select>
					        </b-field>
					        <small class="has-text-primary">{{ errors[0] }}</small>
					    </ValidationProvider>
					</div>
					<div class="column is-4">
						<ValidationProvider rules="required" name="project_id" v-slot="{ errors, valid }">
							<b-field label="Projeto" class="is-fullwidth">
					            <b-select 
					            	placeholder="Selecione o projeto" 
					            	v-model="row.project_id" 
					            	expanded>
					                <option
					                    v-for="(option, key) in projects"
					                    :value="option.id"
					                    :key="key">
					                    {{ option.description }}
					                </option>
					            </b-select>
					        </b-field>
					        <small class="has-text-primary">{{ errors[0] }}</small>
					    </ValidationProvider>
					</div>
					<div class="column is-4">
						<b-field :label="row.department_id == 1 ? 'Patógeno' : 'Marcador'" class="is-fullwidth">
				            <b-autocomplete
                                ref="autocomplete"
				                v-model="filter.tool"
				                :data="filteredTools"
                                field="name"
				                icon="search"
				                @select="option => add(option)">
				                <template slot="empty">No results found</template>
				            </b-autocomplete>
				        </b-field>
				        <span class="tag" v-for="(t, i) in row.tools">
				        	{{ t.name }} &nbsp; <a @click="remove(i)">X</a>
				        </span>
					    
					</div>
                    <div class="column is-3">
                        <ValidationProvider rules="required" name="number" v-slot="{ errors, valid }">
                            <b-field label="Quantidade" :type="{ 'is-danger': errors[0], 'is-success': valid }">
                                <b-numberinput v-model="row.number"></b-numberinput>
                            </b-field>
                            <small class="has-text-primary">{{ errors[0] }}</small>
                        </ValidationProvider>
                    </div>
                    <div class="column is-12">
                        <b-field label="Observações" class="is-fullwidth">
                            <b-input maxlength="100" type="textarea" v-model="row.obs"></b-input>
                        </b-field>
                    </div>
					<div class="column is-12">
						<br>
						<b-field label=" ">
							<b-button native-type="submit" type="is-primary">Salvar</b-button>
						</b-field>
					</div>
				</div>
			</form>
		</ValidationObserver>
	</div>
</template>

<script>
	import { ValidationObserver, ValidationProvider } from "vee-validate";
	import ApiService from '@/services/ApiService';

	export default {
		components: {
			ValidationObserver,
			ValidationProvider
		},
		data: () => ({
			row: {
				id: null,
				department_id: null,
				trial: null,
				year: null,
				sector_id: null,
				subprogram_id: null,
				project_id: null,
				tools: [],
                number: null,
                obs: null,
			},
			filter: {
				tool: '',
			},
            selected: null,
			typeUser: null,
			tools: [],
			departments: [],
			sectors: [],
			subprograms: [],
			projects: [],
			isLoading: false,
		}),
		methods: {
			onSubmit() {
                if(this.row.id != null) {
                    this.update();
                } else {
                    this.save();
                }
			},
            save() {
                if(this.row.tools.length == 0) {
                	this.$notify({
                        group: 'notifications-default',
                        type: 'warning text-white',
                        title: this.$i18n.t('Atenção'),
                        text: this.$i18n.t('Selecione ao menos uma ferramenta')
                    })
                	return false
                }
                this.isLoading = true;
                ApiService.post('solicitations', this.row).then((response) => {
                    this.$notify({
                        group: 'notifications-default',
                        type: 'bg-success text-white',
                        title: this.$i18n.t('Sucesso'),
                        text: this.$i18n.t('Solicitação cadastrada')
                    })
                    this.$router.push('/solicitations');
                    this.isLoading = false;
                }).catch(() => {
                    this.$notify({
                        group: 'notifications-default',
                        type: 'bg-danger text-white',
                        title: this.$i18n.t('Ops!'),
                        text: this.$i18n.t('Falha ao cadastrar solicitação')
                    });
                    this.isLoading = false;
                });
            },
            update() {
                this.row.tool_id = this.selected.id;
                ApiService.update('solicitations',this.row.id, this.row).then((response) => {
                    this.$notify({
                        group: 'notifications-default',
                        type: 'success text-white',
                        title: this.$i18n.t('Sucesso'),
                        text: this.$i18n.t('Solicitação atualizada')
                    })
                    this.$router.push('/solicitations');
                }).catch(() => {
                    this.$notify({
                        group: 'notifications-default',
                        type: 'danger text-white',
                        title: this.$i18n.t('Ops!'),
                        text: this.$i18n.t('Falha ao atualizar solicitação')
                    });
                });
            },
			getOptsDepartment() {
				this.isLoading = true;
				ApiService.query('departments').then((response) => {
					this.departments = response.data;
					this.isLoading = false;
				});
			},
			getOptsTools() {
				ApiService.query('tools?department='+this.row.department_id).then((response) => {
					this.tools = response.data;
				});
			},
			getSectors() {
	            ApiService.query('entry/sectors/'+this.row.trial+'/'+this.row.year).then((res) => {
	                this.sectors = res.data;
	                if(this.sectors.length == 1 ) {
	                    this.row.sector_id = this.sectors[0].id;
	                    this.getSubProgram();
	                }
	            })
	        },
	        getSubProgram() {
	            ApiService.query('entry/subprogram/'+this.row.trial+'/'+this.row.year+'/'+this.row.sector_id).then((res) => {
	                this.subprograms = res.data;
	                if(this.subprograms.length == 1) {
	                    this.row.subprogram_id = this.subprograms[0].id
	                    this.getProject();
	                }
	            })
	        },
	        getProject() {
	            var url = 'entry/project/'+this.row.trial+'/'+this.row.year+'/'+this.row.sector_id+'/'+this.row.subprogram_id;
	            ApiService.query(url).then((res) => {
	                this.projects = res.data;
	                if(this.projects.length == 1) {
	                    this.row.project_id = this.projects[0].id
	                }
	            })
	        },
			setRow(data){
                this.row.id = data.id;
				this.row.department_id = data.department_id;
				this.row.trial = data.trial;
				this.row.year = data.year;
				this.row.tool_id = data.tool_id;
				this.row.number = parseInt(data.number);
                this.row.obs = data.obs;
                this.selected = data.tool;
                this.filter.tool = data.tool.name;
			},
			add(option) {
				if(option != null){
					this.row.tools.push(option);
				}
				this.filter.tool = '';
			},
			remove(option) {
				this.row.tools.splice(option, 1);
			}
		},
		created() {
			this.getOptsDepartment();
			if(this.$route.params.id) {
				ApiService.get('solicitations', this.$route.params.id).then((response) => {
					this.setRow(response.data);
				})
			}
		},
		computed: {
            filteredTools() {
                return this.tools.filter((option) => {
                    return option.name
                        .toString()
                        .toLowerCase()
                        .indexOf(this.filter.tool.toLowerCase()) >= 0
                })
            }
        }
	}

</script>