<template>
	<div>
		<div class="pageloader is-active" v-if="isLoading"><span class="title">Pageloader</span></div>
		<div class="column is-12">
			<h5 class="title is-5 has-text-grey">Solicitação # {{ id }}</h5>
			<b-button class="is-pulled-right" 
                tag="router-link" 
                :to="'/solicitations/'+row.id+'/view'" 
                type="is-primary">Voltar
            </b-button>
		</div>
		<div class="column is-12">
            <h6 class="title is-7 has-text-grey">{{ row.created_at }}</h6>
        </div>

		<div class="card has-background-grey-lighter">
			<div class="card-content">
				<div class="columns" v-if="row.department">
					<div class="column"> <b>Setor:</b> {{ row.department.name }}</div>
					<div class="column"> <b>Trial:</b> {{ row.trial }}</div>
					<div class="column"> <b>Ano:</b> {{ row.year }}</div>
					<div class="column"> 
						<b>Ferramentas:</b> 
						<span class="tag" v-for="(t, i) in row.tools">
				        	{{ t.tool.name }}</a>
				        </span>
				    </div>
				</div>
				<hr>
				<div class="columns" v-if="row.department">
					<div class="column"> <b>Status:</b> {{ row.status.name }}</div>
					<div class="column"> <b>Solicitante:</b> {{ row.user.name }}</div>
					<div class="column"> <b>Quantidade:</b> {{ row.number }}</div>
				</div>
			</div>
		</div>
		<br>
		<div class="columns">
			<div class="column is-1">
				<b-field label="AF">
					<b-input v-model="form.af"></b-input>
				</b-field>
			</div>
			<div class="column is-3">
			</div>
			<div class="column is-3">
                <b-field label="Quantidade">
                    <b-input v-model="form.plants"></b-input>
                </b-field>
			</div>
			<div class="column">
				<br>
				<b-field label=" ">
					<b-button type="is-primary" @click="add()">Adicionar</b-button>
				</b-field>
			</div>
		</div>
		<div class="columns is-multiline" v-for="(i, key) in items">
			<div class="column is-1">
				<b-field label="AF">
					<p>{{ i.item_id }}</p>
				</b-field>
			</div>
			<div class="column is-1">
				<b-field label="Linha">
					<p>{{ i.line }}</p>
				</b-field>
			</div>
			<div class="column is-3">
                <b-field label="Quantidade">
                    <b-input v-model="i.plants"></b-input>
                </b-field>
			</div>
			<div class="column is-2">
				<br>
                <b-field label=" " v-if="key == 0">
                    <b-button type="is-warning" @click="replicate()">Replicar</b-button>
                </b-field>
			</div>
			<div class="column is-3" v-if="user.laboratory.department != null && user.laboratory.department.slug=='Fito'">
                <b-field label="Observação">
                    <b-input v-model="i.rs"></b-input>
                </b-field>
			</div>
			<div class="column is-2" v-if="i.witness == 1">
				<p> <br><br><span class="tag is-info"><b>Testemunha </b></span></p>
			</div>
		</div>
		<div class="columns" v-if="row.status.cod == 1 && (user.sector.name == 'Laboratório' || user.level == 3)">
			<div class="column">
				<b-button @click="save()" type="is-primary" class="is-pulled-right">Salvar</b-button>
			</div>
		</div>
	</div>
</template>

<script>
	import ApiService from '@/services/ApiService';
	import auth from '@/store/auth.module';

	export default {
		data: () => ({
			id: null,
			row: {
				status: {
					cod: null
				}
			},
			form: {
				af: null,
				plants: null,
				solicitations_id: null,
				rs:null,
			},
			items: [],
			isLoading: false,
		}),
		methods: {
			getItems() {
				this.isLoading = true;
				ApiService.get('items/solicitations', this.id).then((res) => {
					this.items = res.data;
					this.load();
				})
			},
			save() {
				ApiService.post('items/record', this.items).then((res) => {
					this.$router.push('/solicitations/'+this.id+'/view');
				})
			},
			load() {
				ApiService.get('solicitations', this.id).then((response) => {
					this.row = response.data;
					this.isLoading = false;
				})
			},
			add() {
				this.form.solicitations_id = this.id;
				this.isLoading = true;
				ApiService.post('items', this.form).then((res) => {
					this.getItems();
				})
			},
			replicate() {
				for (var i = 1; i <= this.items.length; i++) {
					this.items[i].plants = this.items[0].plants
				}
			}
		},
		created() {
			this.id = this.$route.params.id;
			this.getItems();
		},
		computed: {
			user() {
				return auth.getters.currentUser(auth.state)
			}
		}
	}
</script>