<template>
	<div>
        <div class="pageloader is-active" v-if="isLoading"><span class="title">Pageloader</span></div>
		<div class="columns is-multiline">
			<div class="column is-3">
				<b-field label="Status">
					<b-select placeholder="Status" v-model="filter.status">
						<option value=""> Todos </option>
						<option
							v-for="option in status"
							:value="option.cod"
							:key="option.id">
							{{ option.name }}
						</option>
					</b-select>
				</b-field>
			</div>
			<div class="column is-3">
				<b-field label="Data inicial">
					<datepicker 
						v-model="filter.start_date"
						:config="{ dateFormat: 'd/m/Y', static: true }"></datepicker>
				</b-field>
			</div>
			<div class="column is-3">
				<b-field label="Data final">
					<datepicker 
						v-model="filter.end_date"
						:config="{ dateFormat: 'd/m/Y', static: true }"></datepicker>
				</b-field>
			</div>
			<div class="column is-6">
				<b-field label="Solicitante">
					<b-input v-model="filter.mix"></b-input>
				</b-field>
			</div>
			<div class="column is-2"><br>
				<b-field>
					<b-button @click="find()"
						type="is-primary">Buscar
					</b-button>
				</b-field>
			</div>
		</div>
		<hr>
		<b-table :data="solicitations.data">
			<template slot-scope="props">
				<b-table-column field="id" label="ID" width="40" numeric>
					{{ props.row.id }}
				</b-table-column>
				<b-table-column field="trial" label="Trial" width="60" numeric>
					{{ props.row.trial }}
				</b-table-column>
				<b-table-column field="year" label="Ano" width="60" numeric>
					{{ props.row.year }}
				</b-table-column>
				<b-table-column field="number" label="Nº Plantas" width="80" numeric>
					{{ props.row.number }}
				</b-table-column>
				<b-table-column field="user.name" label="Solicitante" v-if="user.levels.name=='Master'|| user.laboratory_id != null">
					{{ props.row.user.name }}
				</b-table-column>
				<b-table-column field="user.name" label="Setor" v-if="user.levels.name=='Master'|| user.laboratory_id == null">
					{{ props.row.department.name }}
				</b-table-column>
				<b-table-column field="user.created_at" label="Data">
					{{ props.row.created_at }}
				</b-table-column>
				<b-table-column field="user.status.name" label="Status">
					{{ props.row.status.name }}
				</b-table-column>
				<b-table-column field="actions" width="192">
			        <b-button type="is-black" @click="see(props.row.id)"> 
						<b-icon
			                pack="fas"
			                icon="eye"
			                size="is-small">
			            </b-icon> 
			        </b-button>
			        <b-button type="is-primary" @click="destroy(props.row.id)" v-if="props.row.status.name == 'Novo'"> 
						<b-icon
			                pack="fas"
			                icon="trash"
			                size="is-small">
			            </b-icon> 
			        </b-button>
				</b-table-column>
			</template>
		</b-table>
		<hr>
		<b-pagination
            :total="solicitations.total"
            :current.sync="solicitations.current_page"
            range-before=2
            range-after=2
            order=""
            size=""
            :per-page="solicitations.per_page"
            icon-prev="chevron-left"
            icon-next="chevron-right"
            aria-next-label="Próximo"
            aria-previous-label="Anterior"
            aria-page-label="Page"
            aria-current-label="Página atual"
			@change="list">
        </b-pagination>
	</div>
</template>

<script>
	
	import ApiService from '@/services/ApiService';
	import auth from '@/store/auth.module';
	import Datepicker from 'vue-bulma-datepicker';

	export default {
		components: {
			Datepicker
		},
		data: () => ({
			solicitations: [],
			isLoading: false,
			isFullPage: true,
			filter: {
				status: "",
				start_date: null,
				end_date:null,
				mix: null
			},
			status: [],
		}),
		methods: {
			list(page=1) {
				this.isLoading = true;
				ApiService.query('solicitations?page='+page).then((response) => {
					this.solicitations = response.data;
					this.isLoading = false;
				});
			},
			destroy(id) {
				ApiService.delete('solicitations', id).then((response) => {
					this.list()
				});
			},
			edit(id) {
				this.$router.push('/solicitations/'+id);
			},
			see(id) {
				this.$router.push('/solicitations/'+id+'/view')
			},
			find() {
				this.isLoading = true;
				ApiService.query('solicitations/find?'+Object.entries(this.filter).map(e => e.join('=')).join('&')).then((response) => {
					this.solicitations = response.data;
					this.isLoading = false;
				})
			},
			getStatus() {
				ApiService.query('status').then((response) => {
					this.status = response.data;
				})
			}
		},
		created() {
			this.getStatus();
			this.list();
		},
		computed: {
			user() {
				return auth.getters.currentUser(auth.state)
			},
			permissions() {
				return auth.getters.permissions(auth.state);
			}
		}
	}
</script>