<template>
	<div>
		<div class="pageloader is-active" v-if="isLoading"><span class="title">Pageloader</span></div>
		<div class="columns is-multiline">
			<div class="column is-12">
				<h5 class="title is-5 has-text-grey">Solicitação # {{ row.id }}</h5>
				<b-button class="is-pulled-right" 
					tag="router-link" 
					:to="'/solicitations/'+row.id+'/view'" 
					type="is-primary">Voltar
				</b-button>
			</div>
			<div class="column is-12">
				<h6 class="title is-7 has-text-grey">{{ row.created_at }}</h6>
			</div>
		</div>
		<br>
		<div class="card has-background-grey-lighter">
			<div class="card-content">
				<div class="columns" v-if="row.department">
					<div class="column"> <b>Setor:</b> {{ row.department.name }}</div>
					<div class="column"> <b>Trial:</b> {{ row.trial }}</div>
					<div class="column"> <b>Ano:</b> {{ row.year }}</div>
					<div class="column"> 
						<b>Ferramentas:</b> 
						<span class="tag" v-for="(t, i) in row.tools">
				        	{{ t.tool.name }}</a>
				        </span>
				    </div>
				</div>
				<hr>
				<div class="columns" v-if="row.department">
					<div class="column"> <b>Status:</b> {{ row.status.name }}</div>
					<div class="column"> <b>Solicitante:</b> {{ row.user.name }}</div>
					<div class="column"> <b>Quantidade:</b> {{ row.number }}</div>
				</div>
			</div>
		</div>
		<br><hr>
		<div v-if="row.protocol_id == null">
			<div class="columns">
				<div class="column is-4">
					<b-field label="Protocolo" class="is-fullwidth">
			            <b-select 
			            	placeholder="Selecione o protocolo" 
			            	v-model="form.protocol_id" 
			            	@change.native="getMethods()"
			            	expanded>
			                <option
			                    v-for="(option, key) in protocols"
			                    :value="option.id"
			                    :key="key">
			                    {{ option.name }}
			                </option>
			            </b-select>
			        </b-field>
				</div>
				<div class="column is-4">
					<b-field label="Método" class="is-fullwidth">
			            <b-select 
			            	placeholder="Selecione o método" 
			            	v-model="method_id" 
			            	@change.native="showProtocol()"
			            	expanded>
			                <option
			                    v-for="(option, key) in methods"
			                    :value="key"
			                    :key="key">
			                    {{ option.methodology }}
			                </option>
			            </b-select>
			        </b-field>
				</div>
				<div class="column" v-if="form.protocol_id != null">
					<br>
					<b-button type="is-black" @click="save()">Salvar </b-button>
				</div>
			</div>
			<div class="columns">
				<div class="column">
					<div class="columns is-multiline">
						<div class="column"><b>Subprograma:</b> {{ protocol.subprogram }} </div>
						<div class="column"><b>Resistência:</b> {{ protocol.resistance }} </div>
						<div class="column"><b>Metodologia:</b> {{ protocol.methodology }} </div>
						<div class="column is-12">
							<b-table :data="protocol.activities">
								<template slot-scope="props">
									<b-table-column field="id" label="Days">
										{{ props.row.initial_day }} 
										<span v-if="props.row.end_day != props.row.initial_day"> - {{ props.row.end_day }} </span>
									</b-table-column>
									<b-table-column field="id" label="Activities">
										{{ props.row.activities }}
									</b-table-column>
								</template>
							</b-table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div v-if="row.protocol_id != null" class="print">
			<div class="columns is-multiline">
				<div class="column is-12">
					<img src="../../assets/images/fornecedor-sakata-logo.png" width="150">
				</div>
				<div class="column is-12">
					<center>
					 	<b>SAKATA SEED SUDAMERICA LTDA.<br>
						RESEARCH  DIVISION<br>
						TECHNICAL  SUPPORT DEPARTMENT - TSD<br></b>
					</center>
				</div>
				<div class="column is-12">
					{{ row.protocol }}
					Time Chart and Procedures used to screen <b>{{ row.procedure.subprogram }}</b> plants for <b>{{ row.procedure.resistance }}</b> resistance.
					Methodology {{ row.procedure.methodology }}
					<div class="columns">
						<div class="column">
							<b-table :data="row.procedure.activities">
								<template slot-scope="props">
									<b-table-column field="id" label="Days">
										{{ props.row.initial_day }} 
										<span v-if="props.row.end_day != props.row.initial_day"> - {{ props.row.end_day }} </span>
									</b-table-column>
									<b-table-column field="id" label="Proposed date"> 
										<input type="date" v-model="props.row.proposed_date">
									</b-table-column>
									<b-table-column field="id" label="Accomplished date">
										<input type="date" v-model="props.row.accomplished_date ">
									</b-table-column>
									<b-table-column field="activities" label="Activities">
										{{ props.row.activities }}
									</b-table-column>
									<b-table-column field="actions" class="no-print">
										<b-button  
											type="is-black" 
											v-if="(row.status.cod == 1 || row.status.cod == 3) && (user.levels.name == 'Master' || user.sector.name != 'Melhoria')"
											@click="saveDate(props.row)">
											Salvar
										</b-button>
									</b-table-column>
								</template>
							</b-table>
						</div>
					</div>
					<div class="columns">
						<div class="column">
							<span v-html="row.procedure.descriptive.descriptive">
								{{row.procedure.descriptive.descriptive}}
							</span>
						</div>
					</div>
					<br><br><br>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import ApiService from '@/services/ApiService';
	import auth from '@/store/auth.module';

	export default {
		data: () => ({
			row: {
				id: null
			},
			form: {
				protocol_id: null
			},
			method_id: null,
			isLoading: false,
			protocols: [],
			protocol: [],
			allProtocol: [],
			methods: []
		}),
		methods: {
			load() {
				this.isLoading = true;
				ApiService.get('solicitations', this.row.id).then((response) => {
					this.row = response.data;
					this.isLoading = false;
				})
			},
			getProtocols() {
				ApiService.query('protocols?active=1').then((response) => {
					this.protocols = response.data;
				})
			},
			getMethods() {
				ApiService.get('procedures/bypro', this.form.protocol_id).then((response) => {
					if(response.data.length > 0)
						this.methods = response.data
					else{
						this.getDataProtocol();
					}
				})
			},
			save() {
				ApiService.update('solicitations', this.row.id, this.form).then((res) => {
					this.load();
					this.getDataProtocol();
				})
			},
			showProtocol() {
				this.protocol = this.methods[this.method_id];
				this.form.protocol_id = this.protocol.id;
			},
			saveDate(l) {
				this.isLoading = true;
				l.solicitation_id = this.row.id;
				ApiService.post('schedules', l).then((res) => {
					this.isLoading = false;
				});
			},
		},
		created() {
			this.row.id = this.$route.params.id;
			this.load();
			this.getProtocols();
		},
		computed: {
			user() {
				return auth.getters.currentUser(auth.state)
			}
		}
	}

</script>