<template>
	<div>
		<div class="pageloader is-active" v-if="isLoading"><span class="title">Pageloader</span></div>
		<div v-if="row.id > 0">
			<div class="column is-12">
	            <h5 class="title is-5 has-text-grey">Solicitação # {{ row.id }}</h5>
	            <b-button class="is-pulled-right" 
	                tag="router-link" 
	                :to="'/solicitations/'+row.id+'/view'" 
	                type="is-primary">Voltar
	            </b-button>
	        </div>
	        <div class="column is-12">
	            <h6 class="title is-7 has-text-grey">{{ row.created_at }}</h6>
	        </div>
	        <div class="card has-background-grey-lighter">
				<div class="card-content">
					<div class="columns" v-if="row.department">
						<div class="column"> <b>Setor:</b> {{ row.department.name }}</div>
						<div class="column"> <b>Trial:</b> {{ row.trial }}</div>
						<div class="column"> <b>Ano:</b> {{ row.year }}</div>
						<div class="column"> 
							<b>Ferramentas:</b> 
							<span class="tag" v-for="(t, i) in row.tools">
					        	{{ t.tool.name }}</a>
					        </span>
					    </div>
					</div>
					<hr>
					<div class="columns" v-if="row.department">
						<div class="column"> <b>Status:</b> {{ row.status.name }}</div>
						<div class="column"> <b>Solicitante:</b> {{ row.user.name }}</div>
						<div class="column"> <b>Quantidade:</b> {{ row.number }}</div>
					</div>
				</div>
			</div>
			<br><hr>
			<div class="columns is-multiline">
				<div class="column">
					<div class="field">
						<label class="label">AF</label>
						<div class="control">
							<div class="select">
							  	<select v-model="attr.af" @change="getRange()">
							    	<option v-for="a in table.afs" :value="a.af">{{ a.af }}</option>
							  	</select>
							</div>
						</div>
					</div>
				</div>
				<div class="column">
					<div class="field">
						<label class="label">Início</label>
					  	<div class="control">
						  	<div class="select">
							  	<select v-model="attr.start">
							    	<option v-for="c in range" :value="c">{{ c }}</option>
							  	</select>
							</div>
						</div>
					</div>
				</div>
				<div class="column">
					<div class="field">
						<label class="label">Fim</label>
					  	<div class="control">
						  	<div class="select">
							  	<select v-model="attr.end">
							    	<option v-for="c in range" :value="c">{{ c }}</option>
							  	</select>
							</div>
						</div>
					</div>
				</div>
				<div class="column">
					<div class="field">
						<label class="label">Marcador</label>
					  	<div class="control">
						  	<div class="select">
							  	<select v-model="attr.tool">
							    	<option v-for="a in table.tools" :value="a.id">{{ a.name }}</option>
							  	</select>
							</div>
						</div>
					</div>
				</div>
				<div class="column">
					<div class="field">
					  <label class="label">Resultado</label>
					  <div class="control">
					    <input class="input" type="text" v-model="attr.result">
					  </div>
					</div>
				</div>
				<div class="column">
					<br>
					<button class="button is-black" @click="apply()">Aplicar</button>
				</div>
			</div>
			<div class="columns">
				<div class="column">
					<b-field label="Observação">
			            <b-input v-model="row.itens_obs"></b-input>
			        </b-field>
				</div>
				<div class="column is-2" v-if="row.status.cod == 1 && (user.sector.name == 'Laboratório' || user.level == 3)">
					<br>
					<button class="button is-success" @click="saveObs()">Salvar</button>
				</div>
			</div>
			<br><hr>
			<div class="columns">
				<table class="table is-fullwidth">
					<thead>
						<tr>
							<td width="100">AF</td>
							<td v-for="t in table.tools" width="40"> {{ t.name }}</td>
							<td v-if="row.status.cod == 1 && (user.sector.name == 'Laboratório' || user.level == 3)">
								<button class="button is-primary is-pulled-right" @click="save()">Salvar</button>
							</td>
						</tr>
					</thead>
					<tbody>
						<tr v-for="(d, c) in table.data">
							<td>{{ d.af }}.{{ d.index }}</td>
							<td v-for="(t, k) in d.tools">
								<input class="input is-primary" type="text" v-model="table.data[c].tools[k].result">
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</template>

<script>
	import ApiService from '@/services/ApiService';
	export default {
		data() {
			return {
				row: {
					id: 0,
					itens_obs: null,
				},
				table: [],
				range:0,
				attr: {
					result: null,
					af: null,
					start: null,
					end: null,
					tool: null
				},
				isLoading: false
			}
		},
		methods: {
			saveObs() {
				this.isLoading = true;
				ApiService.update('solicitations', this.row.id, {'itens_obs': this.row.itens_obs}).then((response) => {
					this.isLoading = false;
				})
			},
			load() {
				this.isLoading = true;
				ApiService.get('solicitations', this.row.id).then((response) => {
					this.row = response.data;
					this.getData();
				})
			},
			getData() {
				ApiService.query('result?solicitation_id='+this.row.id).then((response) => {
					this.table = response.data;
					this.isLoading = false;
				})
			},
			getRange() {
				ApiService.query('croqui/range?solicitation_id='+this.row.id+'&af='+this.attr.af).then((response) => {
					this.range = response.data;
				})
			},
			save() {
				this.isLoading = true;
				ApiService.post('result/'+this.row.id, this.table.data).then((response) => {
					this.getData();
				})
			},
			apply() {
				for (var i = 0; i < this.table.data.length; i++) {
					for (var c = this.attr.start; c <= this.attr.end; c++) {
						if(this.table.data[i].af == this.attr.af) {
							if(this.table.data[i].index == c) {
								for( var j = 0; j< this.table.data[i].tools.length; j++){
									if(this.table.data[i].tools[j].id == this.attr.tool) {
										this.table.data[i].tools[j].result = this.attr.result;
									}
								}
							}
						}
					}
				}
			}
		},
		created() {
			this.row.id = this.$route.params.id;
			this.load();
		},
		computed: {
          user() {
            return this.$store.state.auth.user;
          }
        }
	};
</script>