<template>
	<div>
		<div class="pageloader is-active" v-if="isLoading"><span class="title">Pageloader</span></div>
		<div class="columns is-multiline">
			<div class="column is-12">
				<h5 class="title is-5 has-text-grey">Solicitação # {{ row.id }}</h5>
			</div>
			<div class="column is-12">
				<h6 class="title is-7 has-text-grey">{{ row.created_at }}</h6>
			</div>
		</div>
		<div class="column is-12" v-if="row.department">
			<b-button tag="router-link" 
				:to="'/solicitations/'+this.row.id+'/items'"
				v-if="hasPermission('solicitation.view.itens')"
				type="is-primary">Itens
			</b-button>
			<b-button tag="router-link" 
				:to="'/solicitations/'+this.row.id+'/protocol'" 
				v-if="hasPermission('solicitation.view.protocol')"
				type="is-primary">Protocolo
			</b-button>
			<b-button tag="router-link" 
				:to="'/solicitations/'+this.row.id+'/attachments'" 
				v-if="hasPermission('solicitation.view.attachments')"
				type="is-primary">Anexos
			</b-button>
			<b-button tag="router-link" 
				:to="'/solicitations/'+this.row.id+'/croqui'" 
				v-if="hasPermission('solicitation.view.croqui') && row.status.cod == 1 && row.department.name == 'SBI'"
				type="is-primary">Croqui
			</b-button>
			<b-button tag="router-link" 
				:to="'/solicitations/'+this.row.id+'/result'" 
				v-if="hasPermission('solicitation.view.result') && row.croqui == 1"
				type="is-primary">Resultado
			</b-button>
			<b-button tag="router-link" 
				:to="'/solicitations/'+this.row.id+'/abstract'" 
				v-if="hasPermission('solicitation.view.report') && row.protocol_ok && row.department.name == 'SFT' "
				type="is-primary">Relatório
			</b-button>
			<b-button tag="router-link" 
				:to="'/solicitations/'+this.row.id+'/abstract'" 
				v-if="hasPermission('solicitation.approve') && row.protocol_ok"
				type="is-primary">Relatório
			</b-button>
			<b-button class="is-pulled-right" 
				v-if="hasPermission('solicitation.finalizate') && (row.status.cod == 1 || row.status.cod == 3)"
				@click="setStatus(2)"
				type="is-primary">Encerrar experimento
			</b-button>
			<b-button class="is-pulled-right" 
				v-if="hasPermission('solicitation.approve') && row.status.cod == 2"
				@click="setStatus(4)"
				type="is-success">Aprovar
			</b-button>
			<b-button class="is-pulled-right" 
				v-if="hasPermission('solicitation.approve') && row.status.cod == 2"
				@click="setStatus(3)"
				type="is-primary">Recusar
			</b-button>
		</div>
		<br>
		<div class="card has-background-grey-lighter">
			<div class="card-content">
				<div class="columns" v-if="row.department">
					<div class="column"> <b>Setor:</b> {{ row.department.name }}</div>
					<div class="column"> <b>Trial:</b> {{ row.trial }}</div>
					<div class="column"> <b>Ano:</b> {{ row.year }}</div>
					<div class="column"> 
						<b>Ferramentas:</b> 
						<span class="tag" v-for="(t, i) in row.tools">
				        	{{ t.tool.name }}</a>
				        </span>
				    </div>
				</div>
				<hr>
				<div class="columns" v-if="row.department">
					<div class="column"> <b>Status:</b> {{ row.status.name }}</div>
					<div class="column"> <b>Solicitante:</b> {{ row.user.name }}</div>
					<div class="column"> <b>Quantidade:</b> {{ row.number }}</div>
				</div>
			</div>
		</div>
		<div class="columns">
			<div class="column">
				<div class="column is-12">
					<h5 class="title is-5 has-text-grey">Itens</h5>
				</div>
			</div>
		</div>
		<div class="columns is-multiline" v-if="row.department">
			<div class="column">
				<b-table v-if="row.items.length > 0" :data="row.items">
					<template slot-scope="props">
						<b-table-column field="item_id" label="AF" width="40" numeric>
		                    {{ props.row.item_id }}
		                </b-table-column>
		                <b-table-column field="item_id" label="Linha" width="40" numeric>
		                    {{ props.row.line }}
		                </b-table-column>
		                <b-table-column field="plants" label="Plantas" width="40" numeric>
		                    {{ props.row.plants }}
		                </b-table-column>
		                <b-table-column field="active"   centered>
		                    <span class="tag is-success" v-if="props.row.active == 1">Ativo</span>
		                    <span class="tag is-primary" v-if="props.row.active == 0">Inativo</span>
		                </b-table-column>
					</template>
				</b-table>
			</div>
		</div>
	</div>
</template>

<script>
	import ApiService from '@/services/ApiService';
	import AuthService from '@/services/AuthService';
	import PermissionService from '@/services/PermissionService';

	export default {
		data: () => ({
			row: {
				id: null
			},
			isLoading: false,
		}),
		methods: {
			load() {
				this.isLoading = true;
				ApiService.get('solicitations', this.row.id).then((response) => {
					this.row = response.data;
					this.isLoading = false;
				})
			},
			setStatus(s) {
				ApiService.post('solicitations/'+this.row.id+'/status', {status: s}).then((response) => {
					this.load();
				})
			},
			hasPermission(permission) {
				return PermissionService.hasPermission(permission);
			}
		},
		created() {
			this.row.id = this.$route.params.id;
			this.load();
		},
		computed: {
          userData() {
            return this.$store.state.auth.user;
          }
        }
	}

</script>