<template>
	<div>
		<ValidationObserver ref="observer" v-slot="{ passes }">
			<form @submit.prevent="passes(onSubmit)" >
				<div class="columns is-multiline">
					<div class="column is-6">
						<ValidationProvider rules="required" name="nome" v-slot="{ errors, valid }">
							<b-field label="Nome" :type="{ 'is-danger': errors[0], 'is-success': valid }">
					            <b-input v-model="row.name"></b-input>
					        </b-field>
					        <small class="has-text-primary">{{ errors[0] }}</small>
					    </ValidationProvider>
					</div>
					<div class="column">
						<br>
						<b-field label=" ">
							<b-button native-type="submit" type="is-primary">Salvar</b-button>
						</b-field>
					</div>
				</div>
				
			</form>
		</ValidationObserver>
	</div>
</template>

<script>
	import { ValidationObserver, ValidationProvider } from "vee-validate";
	import ApiService from '@/services/ApiService';

	export default {
		components: {
			ValidationObserver,
			ValidationProvider
		},
		data: () => ({
			row: {
				name: null
			}
		}),
		methods: {
			onSubmit() {
				ApiService.post('departments', this.row).then((response) => {
					this.$notify({
                        group: 'notifications-default',
                        type: 'bg-success text-white',
                        title: this.$i18n.t('Sucesso'),
                        text: this.$i18n.t('Departamento cadastrado')
                    })
                    this.$router.push('/depts');
				}).catch(() => {
                    this.$notify({
                        group: 'notifications-default',
                        type: 'bg-danger text-white',
                        title: this.$i18n.t('Ops!'),
                        text: this.$i18n.t('Falha ao cadastrar departamento')
                    });
                });
			}
		}
	}

</script>