<template>
	<div>
        <div class="pageloader is-active" v-if="isLoading"><span class="title">Pageloader</span></div>
		<b-table :data="tools">
			<template slot-scope="props">
				<b-table-column field="id" label="ID" width="40" numeric>
					{{ props.row.id }}
				</b-table-column>
				<b-table-column field="name" label="Nome">
					{{ props.row.name }}
				</b-table-column>
				<b-table-column field="department" label="Departamento">
					{{ props.row.department.name }}
				</b-table-column>
				<b-table-column field="actions" width="40">
					<b-button type="is-primary" @click="destroy(props.row.id)"> 
						<b-icon
			                pack="fas"
			                icon="trash"
			                size="is-small">
			            </b-icon> 
			        </b-button>
				</b-table-column>
			</template>
		</b-table>
	</div>
</template>

<script>
	
	import ApiService from '@/services/ApiService';

	export default {
		data: () => ({
			tools: [],
			isLoading: false,
			isFullPage: true,
		}),
		methods: {
			list() {
				this.isLoading = true;
				ApiService.query('tools').then((response) => {
					this.tools = response.data;
					this.isLoading = false;
				});
			},
			destroy(id) {
				ApiService.delete('tools', id).then((response) => {
					this.list()
				});
			}
		},
		created() {
			this.list();
		}
	}
</script>