<template>
	<div class="auth-body">
		<section class="full hero is-black is-fullheight">
			<div class="logo"><br>
				<figure class="image is-128x128">
				  	<img src="../../assets/images/logo.png">
				</figure>
				
			</div>
		 	<div class="hero-body">
		 		<div class="container auth">
		 			<div class="columns is-centered is-multiline">
		 				<div class="column is-5-tablet is-4-desktop is-4-widescreen">
		 					<form v-on:submit.prevent="onSubmit(form);">
				 				<b-field>
						            <b-input v-model="form.email" placeholder="Usuário"></b-input>
						        </b-field>
						    	<b-field>
						        	<b-input type="password" v-model="form.password" placeholder="Senha"></b-input>
						        </b-field>
						        <div class="columns is-multiline">
						        	<div class="column is-12">
						        		<button type="submit" class="button is-success is-fullwidth">Acessar</button>
						        	</div>
						        	<div class="column">
						        		<a href="/" class="is-pulled-right"> Esqueci minha senha</a>
						        	</div>
						    	</div>
						    </form>
					    </div>
		 			</div>
		 		</div>
		 	</div>
		</section>
	</div>
</template>

<style lang="scss" src="../../vendor/styles/pages/authentication.scss"></style>


<script>
    import { mapActions } from 'vuex'

	export default {
		name: 'auth-login',
		data: () => ({
		    form: {
		    	email: '',
		    	password: '',
		    },
		}),
		methods: {
			onSubmit(credentials) {
                this.$store
                    .dispatch('login', credentials)
                    .then(({ data }) => {
                        this.$store.commit('setToken', data);
                        this.$router.push({ name: 'Dashboard' })
                    })
                    .catch(() => {
                        this.$store.commit('setError', 'invalid_credentials');
                        this.$notify({
                        group: 'notifications-default',
                        type: 'error text-white',
                        title: this.$i18n.t('Ops!'),
                        text: this.$i18n.t('Usuário ou senha inválido')
                    });
                });
            },
		},
	}
</script>