<template>
	<div>
		<div class="columns">
			<div class="column">
				<b-field>
		        	<b-input type="password" v-model="form.password" placeholder="Senha"></b-input>
		        </b-field>
			</div>
			<div class="column">
				<b-field>
		        	<b-input type="password" v-model="form.confirm" placeholder="Repita a senha"></b-input>
		        </b-field>
			</div>
			<div class="column">
				<button class="button is-success is-fullwidth" @click="save()">Alterar</button>
			</div>
		</div>
	</div>
</template>

<script>

	import ApiService from '@/services/ApiService';
	export default {
		name: 'profile',
		data: () => ({
		    form: {
		    	password: null,
		    	confirm: null,
		    },
		}),
		methods: {
			save() {
				if(this.form.password == this.form.confirm){
					ApiService.post('user/'+this.user.id+'/password', this.form).then((response) => {
	                    this.$notify({
	                        group: 'notifications-default',
	                        type: 'bg-success text-white',
	                        title: this.$i18n.t('Sucesso'),
	                        text: this.$i18n.t('Senha alterada com sucesso')
	                    })
	                    this.isLoading = false;
	                }).catch(() => {
	                    this.$notify({
	                        group: 'notifications-default',
	                        type: 'bg-danger text-white',
	                        title: this.$i18n.t('Ops!'),
	                        text: this.$i18n.t('Falha ao alterar senha')
	                    });
	                    this.isLoading = false;
	                });
				} else {
					this.$notify({
	                        group: 'notifications-default',
	                        type: 'bg-danger text-white',
	                        title: this.$i18n.t('Ops!'),
	                        text: this.$i18n.t('As senhas preenchidas não são iguais')
	                    });
						
				}
			}
		},
		computed: {
          user() {
            return this.$store.state.auth.user;
          }
        }
	}
</script>